@model E4S.ViewModel.EmployeeQualificationViewModel

@{
  ViewData["Title"] = "Qualification";

  //Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";


  Layout = "~/Views/Shared/_LayoutEmployee.cshtml";

}

<div class="content">
  <div class="card">
    <div class="card-header text-center" data-background-color="orange">
      <h3 class="card-title">
        Qualifications
      </h3>
      <h5 class="description">
        Employee - Institution, Skill Sets, Other Certification and Work Experience
      </h5>
    </div>
    @*<h4 class="card-title"> Employee Jobs</h4>*@

    <div class="row">
      <div class="col-md-12">
        <div class="card ">

          <div class="card-body ">

            <!-- Start of the Emergency Contact tabs-->

            <div class="card-body">

              <div class="card-body">

                <!-- Start of Qualifaction-->
                <!-- Education Page-->
                <div class="card-header">
                  <div class="justify-content-end align-items-center ">
                    <button class="btn  btn-info" data-toggle="modal" data-target="#noticeModal3">Add Insititution Records</button>
                  </div>
                </div>

                <!-- notice modal -->
                <div class="modal fade" id="noticeModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-notice">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                          <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                        <h5 class="modal-title" id="myModalLabel">Add Institution Records</h5>
                      </div>
                      <div class="modal-body">
                        <div class="instruction">
                          <form enctype="multipart/form-data" asp-action="UploadDocument" method="post">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Degree</label>
                                  <div class="form-group">
                                    <select id="Degree" name="Degree" class="form-control" required>
                                      <option>-- Select Degree --</option>
                                      <option value="BSc.">BSc.</option>
                                      <option value="BA.">BA.</option>
                                      <option value="B.Eng">B.Eng</option>
                                      <option value="B.Tech">B.Tech</option>
                                      <option value="HND">HND</option>
                                      <option value="OND">OND</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Grade</label>
                                  <div class="form-group">
                                    <select id="Grade" name="Grade" class="form-control" required>
                                      <option>-- Select Grade --</option>
                                      <option value="First Class">First Class</option>
                                      <option value="Distinction">Distinction</option>
                                      <option value="Second Class Upper">Second Class Upper</option>
                                      <option value="Upper Credit">Upper Credit</option>
                                      <option value="Second Class">Second Class Lower</option>
                                      <option value="Lower Credit">Lower Credit</option>
                                      <option value="Third Class">Third Class</option>
                                      <option value="Pass">Pass</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Institution</label>
                                  <input id="Institution" name="Institution" type="text" class="form-control" placeholder="Institution" required>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Course Of Study</label>
                                  <input id="CourseOfStudy" name="CourseOfStudy" type="text" class="form-control" placeholder="Course Of Study" required>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Year Completed</label>
                                  <div class="form-group">
                                    <select id="YearCompleted" name="YearCompleted" class="form-control" required>
                                      <option>- Year -</option>
                                      <option value="2020">2020</option>
                                      <option value="2019">2019</option>
                                      <option value="2018">2018</option>
                                      <option value="2017">2017</option>
                                      <option value="2016">2016</option>
                                      <option value="2015">2015</option>
                                      <option value="2014">2014</option>
                                      <option value="2013">2013</option>
                                      <option value="2012">2012</option>
                                      <option value="2011">2011</option>
                                      <option value="2010">2010</option>
                                      <option value="2009">2009</option>
                                      <option value="2008">2008</option>
                                      <option value="2007">2007</option>
                                      <option value="2006">2006</option>
                                      <option value="2005">2005</option>
                                      <option value="2004">2004</option>
                                      <option value="2003">2003</option>
                                      <option value="2002">2002</option>
                                      <option value="2001">2001</option>
                                      <option value="2000">2000</option>
                                      <option value="1999">1999</option>
                                      <option value="1998">1998</option>
                                      <option value="1997">1997</option>
                                      <option value="1996">1996</option>
                                      <option value="1995">1995</option>
                                      <option value="1994">1994</option>
                                      <option value="1993">1993</option>
                                      <option value="1992">1992</option>
                                      <option value="1991">1991</option>
                                      <option value="1990">1990</option>
                                      <option value="1989">1989</option>
                                      <option value="1988">1988</option>
                                      <option value="1987">1987</option>
                                      <option value="1986">1986</option>
                                      <option value="1985">1985</option>
                                      <option value="1984">1984</option>
                                      <option value="1983">1983</option>
                                      <option value="1982">1982</option>
                                      <option value="1981">1981</option>
                                      <option value="1980">1980</option>
                                      <option value="1979">1979</option>
                                      <option value="1978">1978</option>
                                      <option value="1977">1977</option>
                                      <option value="1976">1976</option>
                                      <option value="1975">1975</option>
                                      <option value="1974">1974</option>
                                      <option value="1973">1973</option>
                                      <option value="1972">1972</option>
                                      <option value="1971">1971</option>
                                      <option value="1970">1970</option>
                                      <option value="1969">1969</option>
                                      <option value="1968">1968</option>
                                      <option value="1967">1967</option>
                                      <option value="1966">1966</option>
                                      <option value="1965">1965</option>
                                      <option value="1964">1964</option>
                                      <option value="1963">1963</option>
                                      <option value="1962">1962</option>
                                      <option value="1961">1961</option>
                                      <option value="1960">1960</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>


                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Certificate Url</label>
                                  <input id="ImageUrl" name="ImageUrl" type="text" class="form-control" placeholder="http://">
                                </div>
                              </div>
                            </div>


                            <hr />
                            <div class="card-footer ">
                              <button type="submit" class="btn btn-fill btn-primary btn-round">Submit</button>
                              <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end notice modal -->

                <div class="modal fade" id="noticeModalEditRecords" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-notice">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                          <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                        <h5 class="modal-title" id="myModalLabel">Edit Institution Records</h5>
                      </div>
                      <div class="modal-body">
                        <div class="instruction">
                          <form method="post">
                            <input id="RecordId" name="RecordId" hidden />
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Degree</label>
                                  <div class="form-group">
                                    <select id="qedegree" name="qedegree" class="form-control">
                                      <option>-- Select Degree --</option>
                                      <option value="BSc.">BSc.</option>
                                      <option value="BA.">BA.</option>
                                      <option value="B.Eng">B.Eng</option>
                                      <option value="B.Tech">B.Tech</option>
                                      <option value="HND">HND</option>
                                      <option value="OND">OND</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Grade</label>
                                  <div class="form-group">
                                    <select id="qegrade" name="qegrade" class="form-control">
                                      <option>-- Select Grade --</option>
                                      <option value="First Class">First Class</option>
                                      <option value="Distinction">Distinction</option>
                                      <option value="Second Class Upper">Second Class Upper</option>
                                      <option value="Upper Credit">Upper Credit</option>
                                      <option value="Second Class">Second Class Lower</option>
                                      <option value="Lower Credit">Lower Credit</option>
                                      <option value="Third Class">Third Class</option>
                                      <option value="Pass">Pass</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Institution</label>
                                  <input id="qeinstitution" name="qeinstitution" type="text" class="form-control" placeholder="Institution">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Course Of Study</label>
                                  <input id="qecourseofstudy" name="qecourseofstudy" type="text" class="form-control" placeholder="Course Of Study">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Year Completed</label>
                                  <div class="form-group">
                                    <select id="qeyearcompleted" name="qeyearcompleted" class="form-control">
                                      <option>- Year -</option>
                                      <option value="2020">2020</option>
                                      <option value="2019">2019</option>
                                      <option value="2018">2018</option>
                                      <option value="2017">2017</option>
                                      <option value="2016">2016</option>
                                      <option value="2015">2015</option>
                                      <option value="2014">2014</option>
                                      <option value="2013">2013</option>
                                      <option value="2012">2012</option>
                                      <option value="2011">2011</option>
                                      <option value="2010">2010</option>
                                      <option value="2009">2009</option>
                                      <option value="2008">2008</option>
                                      <option value="2007">2007</option>
                                      <option value="2006">2006</option>
                                      <option value="2005">2005</option>
                                      <option value="2004">2004</option>
                                      <option value="2003">2003</option>
                                      <option value="2002">2002</option>
                                      <option value="2001">2001</option>
                                      <option value="2000">2000</option>
                                      <option value="1999">1999</option>
                                      <option value="1998">1998</option>
                                      <option value="1997">1997</option>
                                      <option value="1996">1996</option>
                                      <option value="1995">1995</option>
                                      <option value="1994">1994</option>
                                      <option value="1993">1993</option>
                                      <option value="1992">1992</option>
                                      <option value="1991">1991</option>
                                      <option value="1990">1990</option>
                                      <option value="1989">1989</option>
                                      <option value="1988">1988</option>
                                      <option value="1987">1987</option>
                                      <option value="1986">1986</option>
                                      <option value="1985">1985</option>
                                      <option value="1984">1984</option>
                                      <option value="1983">1983</option>
                                      <option value="1982">1982</option>
                                      <option value="1981">1981</option>
                                      <option value="1980">1980</option>
                                      <option value="1979">1979</option>
                                      <option value="1978">1978</option>
                                      <option value="1977">1977</option>
                                      <option value="1976">1976</option>
                                      <option value="1975">1975</option>
                                      <option value="1974">1974</option>
                                      <option value="1973">1973</option>
                                      <option value="1972">1972</option>
                                      <option value="1971">1971</option>
                                      <option value="1970">1970</option>
                                      <option value="1969">1969</option>
                                      <option value="1968">1968</option>
                                      <option value="1967">1967</option>
                                      <option value="1966">1966</option>
                                      <option value="1965">1965</option>
                                      <option value="1964">1964</option>
                                      <option value="1963">1963</option>
                                      <option value="1962">1962</option>
                                      <option value="1961">1961</option>
                                      <option value="1960">1960</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Certificate Url</label>
                                  <input id="qeImageUrl" name="qeImageUrl" type="text" class="form-control" placeholder="http://">
                                </div>
                              </div>
                            </div>

                            <hr />
                            <div class="card-footer ">
                              <button type="submit" class="btn btn-fill btn-primary btn-round" id="editRecords">Submit</button>
                              <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>


              <div class="card-body">
                <br />
                <table id="datatable2" class="table table-striped " cellspacing="10" width="100%">
                  <thead>
                    <tr>
                      <th>Institution</th>
                      <th>Course of Study</th>
                      <th>Degree</th>
                      <th>Grade</th>
                      <th>Year </th>
                      <th>Certificate URL </th>
                      <th class="disabled-sorting text-right">Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    @foreach (var item in Model.InstitutionQualifications)
                    {
                      <tr>
                        <td>@item.Institution</td>
                        <td>@item.CourseOfStudy</td>
                        <td>@item.Degree</td>
                        <td>@item.Grade</td>
                        <td>@item.YearCompleted</td>
                        <td>@item.ImageURL</td>
                        <td class="text-right">
                          <span data-toggle="modal" data-target="#noticeModalEditRecords"><a href="#" class="btn btn-round btn-warning btn-icon btn-sm edit" id="Editrcrd" data-toggle="tooltip" data-placement="top" EditRcrdId="@item.Id" select-Institution="@item.Institution" Selected-CourseOfStudy="@item.CourseOfStudy" Selected-Degree="@item.Degree" Selected-Grade="@item.Grade" Selected-YearCompleted="@item.YearCompleted" Selected-ImageURL="@item.ImageURL" title="Click to Edit"><i class="far fa-calendar-alt"></i></a></span>
                            <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove" InstitutionId="@item.Id" InstitutionName="@item.Institution" data-toggle="tooltip" data-placement="top" title="Click to Delete"><i class="fas fa-times"></i></a>
</td>
                      </tr>

                    }

                  

                  </tbody>
                </table>
              </div>
              <!-- work Experience End-->
              <div class="card-body">
                <!-- Skills-->
                <div class="card-header">
                  <div class="justify-content-end align-items-center ">
                    <button class="btn btn-info" data-toggle="modal" data-target="#noticeModal4">Add Skills</button>
                  </div>
                </div>

                <!-- notice modal -->
                <div class="modal fade" id="noticeModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-notice">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                          <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                        <h5 class="modal-title" id="myModalLabel">Enter New Skill</h5>
                      </div>
                      <div class="modal-body">
                        <div class="instruction">
                          <form enctype="multipart/form-data" asp-action="skillsUpload" method="post">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Skill</label>
                                  <input type="text" class="form-control" placeholder="Skill" id="qSkill" name="qSkill" required>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Description</label>
                                  <input type="text" class="form-control" placeholder="Description" id="qDescription" name="qDescription" required>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Year of Experience</label>
                                  <input type="number" class="form-control" placeholder="Year of Experience" id="qYearOfExperience" name="qYearOfExperience" required>
                                </div>
                              </div>
                            </div>

                            <hr />
                            <div class="card-footer ">
                              <button type="submit" class="btn btn-fill btn-primary btn-round">Submit</button>
                              <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end notice modal -->

                <div class="modal fade" id="noticeModalEditSkills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-notice">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                          <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                        <h5 class="modal-title" id="myModalLabel">Edit Skill Details</h5>
                      </div>
                      <div class="modal-body">
                        <div class="instruction">
                          <form method="post">
                            @*<form enctype="multipart/form-data" asp-action="skillsUpload" method="post">*@
                            <input id="qSkillsId" name="qSkillsId" hidden />

                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Skill</label>
                                  <input type="text" class="form-control" placeholder="Skill" id="qeSkill" name="qeSkill" required>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Description</label>
                                  <input type="text" class="form-control" placeholder="Description" id="qeDescription" name="qeDescription" required>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Years of Experience</label>
                                  <input type="number" class="form-control" placeholder="Year of Experience" id="qeYearOfExperience" name="qeYearOfExperience" required>
                                </div>
                              </div>
                            </div>

                            <hr />
                            <div class="card-footer ">
                              <button type="submit" class="btn btn-fill btn-primary btn-round" id="editSkills">Submit</button>
                              <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>






              <div class="card-body">
                <br />
                <table id="datatable3" class="table table-striped " cellspacing="10" width="100%">
                  <thead>
                    <tr>
                      <th>Skill</th>
                      <th>Description</th>
                      <th>Years of Experience</th>
                      <th class="disabled-sorting text-right">Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    @foreach (var item in Model.Skills)
                    {
                      <tr>
                        <td>@item.SkillName</td>
                        <td>@item.Description</td>
                        <td>@item.YearsOfExperience</td>
                        <td class="text-right">
                          <span data-toggle="modal" data-target="#noticeModalEditSkills"><a href="#" class="btn btn-round btn-warning btn-icon btn-sm"  id="Editbtn" EditSkillsId="@item.Id" select-Skills="@item.SkillName" Selected-Description="@item.Description" Selected-YearsOfExperience="@item.YearsOfExperience" data-toggle="tooltip" data-placement="top" title="Click to Edit"><i class="far fa-calendar-alt"></i></a></span>
                          <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove" SkillId="@item.Id" SkillName="@item.SkillName" data-toggle="tooltip" data-placement="top" title="Click to Delete"><i class="fas fa-times"></i></a>
                        </td>
                      </tr>

                    }


                  </tbody>
                </table>
              </div>
              <!--End Skills-->

              <div class="card-header">
                <div class="justify-content-end align-items-center ">
                  <button class="btn btn-info" data-toggle="modal" data-target="#noticeModal5">Add Work Experience</button>
                </div>
              </div>

              <!-- notice modal -->
              <div class="modal fade" id="noticeModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-notice">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                      <h5 class="modal-title" id="myModalLabel">Enter Work Experience</h5>
                    </div>
                    <div class="modal-body">
                      <div class="instruction">

                        <form enctype="multipart/form-data" asp-action="workUpload" method="post">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Company</label>
                                <input type="text" class="form-control" placeholder="Company" id="WOrganisation" name="WOrganisation" required>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Job Title</label>
                                <input type="text" class="form-control" placeholder="Job Title" id="WJobTitle" name="WJobTitle" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>From</label>
                                <input type="date" class="form-control" placeholder="Job Title" id="WStartDate" name="WStartDate" required>

                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>To</label>
                                <input type="date" class="form-control" placeholder="Job Title" id="WEndDate" name="WEndDate" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Comment</label>
                                <input type="text" class="form-control" placeholder="Comment" id="WComment" name="WComment" required>
                              </div>
                            </div>
                          </div>

                          <hr />
                          <div class="card-footer ">
                            <button type="submit" class="btn btn-fill btn-primary btn-round">Submit</button>
                            <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end notice modal -->

              <div class="modal fade" id="noticeModalExperience" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-notice">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                      <h5 class="modal-title" id="myModalLabel">Edit Work Experience Details</h5>
                    </div>
                    <div class="modal-body">
                      <div class="instruction">

                        <form method="post">
                          <input id="WorkId" name="WorkId" hidden />
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Company</label>
                                <input type="text" class="form-control" placeholder="Company" id="qeWOrganisation" name="qeWOrganisation">
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Job Title</label>
                                <input type="text" class="form-control" placeholder="Job Title" id="qeWJobTitle" name="qeWJobTitle">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>From</label>
                                <input type="text" class="form-control" placeholder="Job Title" id="qeWStartDate" name="qeWStartDate">

                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>To</label>
                                <input type="text" class="form-control" placeholder="Job Title" id="qeWEndDate" name="qeWEndDate">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Comment</label>
                                <input type="text" class="form-control" placeholder="Comment" id="qeWComment" name="qeWComment">
                              </div>
                            </div>
                          </div>

                          <hr />
                          <div class="card-footer ">
                            <button type="submit" class="btn btn-fill btn-primary btn-round" id="editWorkHistory">Submit</button>
                            <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <br />
                <table id="datatable4" class="table table-striped " cellspacing="10" width="100%">
                  <thead>
                    <tr>
                      <th>Company</th>
                      <th>Job Title</th>
                      <th>From</th>
                      <th>To</th>
                      <th>Comment</th>
                      <th class="disabled-sorting text-right">Actions</th>
                    </tr>
                  </thead>

                  <tbody>

                    @foreach (var item in Model.WorkExperiences)
                    {
                      <tr>
                        <td>@item.Organisation</td>
                        <td>@item.JobTitle</td>
                        <td>@item.StartDate.ToString("dd, MMM yyyy")</td>
                        <td>@item.EndDate.ToString("dd, MMM yyyy")</td>
                        <td>@item.Comment</td>
                        <td class="text-right">
                          <span data-toggle="modal" data-target="#noticeModalExperience"><a href="#" class="btn btn-round btn-warning btn-icon btn-sm edit" id="Editwrk" EditWorkId="@item.Id" select-Organisation="@item.Organisation" Selected-JobTitle="@item.JobTitle" Selected-StartDate="@item.StartDate.ToString("dd, MMM yyyy")" Selected-EndDate="@item.EndDate.ToString("dd, MMM yyyy")" Selected-Comment="@item.Comment" data-toggle="tooltip" data-placement="top" title="Click to Edit"><i class="far fa-calendar-alt"></i></a></span>
                          <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove" CompanyId="@item.Id" CompanyName="@item.Organisation" data-toggle="tooltip" data-placement="top" title="Click to Delete"><i class="fas fa-times"></i></a>
                        </td>
                      </tr>

                    }


                  </tbody>
                </table>
              </div>



            </div>
            <!-- the End of Emergency Contact Tabs-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts {

  <link href="@Url.Content("~/css/ajaxoverlay.css")" rel="stylesheet" />


  <script>
    $(document).ready(function () {

      $('#datatable2').DataTable({
        "pagingType": "full_numbers",
        dom: "Bfrtip",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],


        buttons: [
          'copy',
          'excel',
          'csv',
          'pdf',
          'print',
        ],


        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable2').DataTable();

      // Delete a record
      table.on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');

        institutionId = $(this).attr('InstitutionId');
        institutionName = $(this).attr('InstitutionName');



        swal({
          title: 'Are you sure?',
          text: "You are about to delete '" + institutionName + "'",
          type: 'warning',
          showCancelButton: true,
          confirmButtonClass: 'btn btn-success',
          cancelButtonClass: 'btn btn-danger',
          confirmButtonText: 'Yes, delete it!',
          buttonsStyling: false
        }).then(function () {

          $.ajax({
            type: "POST",
            url: "/EmployeeProfile/deleteRecords",
            data: JSON.stringify(institutionId),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            headers: {
              RequestVerificationToken:
                $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function (r) {

              if (r.msg == "Success") {

                swal({
                  title: 'Deleted!',
                  text: 'Your file has been deleted.',
                  type: 'success',
                  confirmButtonClass: "btn btn-success",
                  buttonsStyling: false
                });


              } else if (r.msg == "Fail") {

                alert(r.msg);

              } else if (r.msg == "No Data") {
                alert(r.msg);

              } else {
                alert(r.msg);
              }
              //alert(r.msg);
              // window.location.reload();

            },
            error: function () {
              alert(r.msg);
            }
          });


          table.row($tr).remove().draw();

        }).catch(swal.noop);


        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function () {
        alert('You clicked on Like button');
      });
    });
  </script>

  <script>
    $(document).ready(function () {

      $('#datatable3').DataTable({
        "pagingType": "full_numbers",
        dom: "Bfrtip",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],


        buttons: [
          'copy',
          'excel',
          'csv',
          'pdf',
          'print',
        ],


        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable3').DataTable();

      // Delete a record
      table.on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');

        skillId = $(this).attr('SkillId');
        skillName = $(this).attr('SkillName');



        swal({
          title: 'Are you sure?',
          text: "You are about to delete '" + skillName + "'",
          type: 'warning',
          showCancelButton: true,
          confirmButtonClass: 'btn btn-success',
          cancelButtonClass: 'btn btn-danger',
          confirmButtonText: 'Yes, delete it!',
          buttonsStyling: false
        }).then(function () {

          $.ajax({
            type: "POST",
            url: "/EmployeeProfile/deleteSkills",
            data: JSON.stringify(skillId),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            headers: {
              RequestVerificationToken:
                $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function (r) {

              if (r.msg == "Success") {

                swal({
                  title: 'Deleted!',
                  text: 'Your file has been deleted.',
                  type: 'success',
                  confirmButtonClass: "btn btn-success",
                  buttonsStyling: false
                });


              } else if (r.msg == "Fail") {

                alert(r.msg);

              } else if (r.msg == "No Data") {
                alert(r.msg);

              } else {
                alert(r.msg);
              }
              //alert(r.msg);
              // window.location.reload();

            },
            error: function () {
              alert(r.msg);
            }
          });


          table.row($tr).remove().draw();

        }).catch(swal.noop);


        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function () {
        alert('You clicked on Like button');
      });
    });
  </script>

  <script>
    $(document).ready(function () {

      $('#datatable4').DataTable({
        "pagingType": "full_numbers",
        dom: "Bfrtip",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],


        buttons: [
          'copy',
          'excel',
          'csv',
          'pdf',
          'print',
        ],


        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable4').DataTable();

      // Delete a record
      table.on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');

        companyId = $(this).attr('CompanyId');
        companyName = $(this).attr('CompanyName');



        swal({
          title: 'Are you sure?',
          text: "You are about to delete '" + companyName + "'",
          type: 'warning',
          showCancelButton: true,
          confirmButtonClass: 'btn btn-success',
          cancelButtonClass: 'btn btn-danger',
          confirmButtonText: 'Yes, delete it!',
          buttonsStyling: false
        }).then(function () {

          $.ajax({
            type: "POST",
            url: "/EmployeeProfile/deleteWorkExperience",
            data: JSON.stringify(companyId),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            headers: {
              RequestVerificationToken:
                $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function (r) {

              if (r.msg == "Success") {

                swal({
                  title: 'Deleted!',
                  text: 'Your file has been deleted.',
                  type: 'success',
                  confirmButtonClass: "btn btn-success",
                  buttonsStyling: false
                });


              } else if (r.msg == "Fail") {

                alert(r.msg);

              } else if (r.msg == "No Data") {
                alert(r.msg);

              } else {
                alert(r.msg);
              }
              //alert(r.msg);
              // window.location.reload();

            },
            error: function () {
              alert(r.msg);
            }
          });


          table.row($tr).remove().draw();

        }).catch(swal.noop);


        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function () {
        alert('You clicked on Like button');
      });
    });
  </script>

  <script>
    var aEditSkillsId;

    $(document).delegate('#Editbtn',
      'click',
      function (e) {

        aEditSkillsId = $(this).attr('EditSkillsId');
        skills = $(this).attr('select-Skills');
        description = $(this).attr('Selected-Description');
        yearOfExperience = $(this).attr('Selected-YearsOfExperience');


        //console.log(varstartDate, varendDate);
        //  console.log(aEditAssetId);

        $('input[name=qSkillsId]').val(aEditSkillsId);
        $('input[name=qeSkill]').val(skills);
        $('input[name=qeDescription]').val(description);
        $('input[name=qeYearOfExperience]').val(yearOfExperience);

      });

    var aEditWorkId;

    $(document).delegate('#Editwrk',
      'click',
      function (e) {

        aEditWorkId = $(this).attr('EditWorkId');
        company = $(this).attr('select-Organisation');
        jobTitle = $(this).attr('Selected-JobTitle');
        startDate = $(this).attr('Selected-StartDate');
        endDate = $(this).attr('Selected-EndDate');
        comment = $(this).attr('Selected-Comment');


        //console.log(varstartDate, varendDate);
        //  console.log(aEditAssetId);

        $('input[name=WorkId]').val(aEditWorkId);
        $('input[name=qeWOrganisation]').val(company);
        $('input[name=qeWJobTitle]').val(jobTitle);
        $('input[name=qeWStartDate]').val(startDate);
        $('input[name=qeWEndDate]').val(endDate);
        $('input[name=qeWComment]').val(comment);

      });

    var aEditRcrdId;

    $(document).delegate('#Editrcrd',
      'click',
      function (e) {

        aEditRcrdId = $(this).attr('EditRcrdId');
        school = $(this).attr('select-Institution');
        course = $(this).attr('Selected-CourseOfStudy');
        degree = $(this).attr('Selected-Degree');
        grade = $(this).attr('Selected-Grade');
        year = $(this).attr('Selected-YearCompleted');
        ImageUrl = $(this).attr('Selected-ImageURL');

        //var degree = $('#degree').find(":selected").text();

        //console.log(varstartDate, varendDate);
        //  console.log(aEditAssetId);

        $('input[name=RecordId]').val(aEditRcrdId);
        $('input[name=qeinstitution]').val(school);
        $('input[name=qecourseofstudy]').val(course);
        $('select[name=qedegree]').val(degree);
        $('select[name=qegrade]').val(grade);
        $('select[name=qeyearcompleted]').val(year);
        $('input[name=qeImageUrl]').val(ImageUrl);
      });



   


    $(document).ready(function () {

     

       

     


      $("#editSkills").click(function (event) {

        event.preventDefault();

        var PostSkill = {
          AId: $("#qSkillsId").val(),
          qSkill: $("#qeSkill").val(),
          qDescription: $("#qeDescription").val(),
          qYearOfExperience: $("#qeYearOfExperience").val(),

        };


        // console.log(Items);
        console.log(PostSkill);

        $.ajax({
          type: "POST",
          url: "/EmployeeProfile/editSkills",
          data: JSON.stringify(PostSkill),
          dataType: "json",
          contentType: 'application/json; charset=utf-8',
          headers: {
            RequestVerificationToken:
              $('input:hidden[name="__RequestVerificationToken"]').val()
          },
          success: function (r) {

            if (r.msg == "Success") {

              demo.showSwal('success-message');

            } else if (r.msg == "Fail") {

              alert(r.msg);

            } else if (r.msg == "No Data") {
              alert(r.msg);

            } else {
              alert(r.msg);
            }
            //alert(r.msg);
            // window.location.reload();

          },
          error: function () {
            alert(r.msg);
          }
        });
      });

      $("#editWorkHistory").click(function (event) {

        event.preventDefault();

        var PostWorkExperience = {
          AId: $("#WorkId").val(),
          WOrganisation: $("#qeWOrganisation").val(),
          WJobTitle: $("#qeWJobTitle").val(),
          WStartDate: $("#qeWStartDate").val(),
          WEndDate: $("#qeWEndDate").val(),
          WComment: $("#qeWComment").val(),

        };


        // console.log(Items);
        console.log(PostWorkExperience);

        $.ajax({
          type: "POST",
          url: "/EmployeeProfile/editWorkExperience",
          data: JSON.stringify(PostWorkExperience),
          dataType: "json",
          contentType: 'application/json; charset=utf-8',
          headers: {
            RequestVerificationToken:
              $('input:hidden[name="__RequestVerificationToken"]').val()
          },
          success: function (r) {

            if (r.msg == "Success") {

              demo.showSwal('success-message');

            } else if (r.msg == "Fail") {

              alert(r.msg);

            } else if (r.msg == "No Data") {
              alert(r.msg);

            } else {
              alert(r.msg);
            }
            //alert(r.msg);
            // window.location.reload();

          },
          error: function () {
            alert(r.msg);
          }
        });
      });

      $("#editRecords").click(function (event) {

        event.preventDefault();

        var PostQualification = {
          AId: $("#RecordId").val(),
          Institution: $("#qeinstitution").val(),
          CourseOfStudy: $("#qecourseofstudy").val(),
          Degree: $("#qedegree").val(),
          Grade: $("#qegrade").val(),
          YearCompleted: $("#qeyearcompleted").val(),
          ImageUrl: $("#qeImageUrl").val(),

        };


        // console.log(Items);
        console.log(PostQualification);

        $.ajax({
          type: "POST",
          url: "/EmployeeProfile/editRecords",
          data: JSON.stringify(PostQualification),
          dataType: "json",
          contentType: 'application/json; charset=utf-8',
          headers: {
            RequestVerificationToken:
              $('input:hidden[name="__RequestVerificationToken"]').val()
          },
          success: function (r) {

            if (r.msg == "Success") {

              demo.showSwal('success-message');

            } else if (r.msg == "Fail") {

              alert(r.msg);

            } else if (r.msg == "No Data") {
              alert(r.msg);

            } else {
              alert(r.msg);
            }
            //alert(r.msg);
            // window.location.reload();

          },
          error: function () {
            alert(r.msg);
          }
        });
      });
    });




      //    $(document).ready(function () {

      //        $("#editRecords").click(function (event) {

      //            event.preventDefault();

      //            var PostQualification = {
      //                AId: $("#RecordId").val(),
      //                Institution: $("#qeinstitution").val(),
      //              CourseOfStudy: $("#qecourseofstudy").val(),
      //               Degree : $("#qedegree").val(),
      //               Grade : $("#qegrade").val(),
      //              YearCompleted: $("#qeyearcompleted").val(),
      //              ImageUrl: $("#qeImageUrl").val(),

      //            };


      //            // console.log(Items);
      //            console.log(PostQualification);

      //            $.ajax({
      //              type: "POST",
      //              url: "/EmployeeProfile/editRecords",
      //              data: JSON.stringify(PostQualification),
      //              dataType: "json",
      //              contentType: 'application/json; charset=utf-8',
      //              headers: {
      //                  RequestVerificationToken:
      //                  $('input:hidden[name="__RequestVerificationToken"]').val()
      //              },
      //              success: function (r) {

      //                if (r.msg == "Success") {

      //                  demo.showSwal('success-message');

      //                } else if (r.msg == "Fail") {

      //                  alert(r.msg);

      //                } else if (r.msg == "No Data") {
      //                  alert(r.msg);

      //                } else {
      //                  alert(r.msg);
      //                }
      //                //alert(r.msg);
      //                // window.location.reload();

      //              },
      //              error: function () {
      //                alert(r.msg);
      //              }
      //            });
      //          });



      //});


      // $(document).ready(function () {

      //        $("#editWorkHistory").click(function (event) {

      //            event.preventDefault();

      //            var PostWorkExperience = {
      //                AId: $("#WorkId").val(),
      //                WOrganisation: $("#qeWOrganisation").val(),
      //              WJobTitle: $("#qeWJobTitle").val(),
      //               WStartDate : $("#qeWStartDate").val(),
      //               WEndDate : $("#qeWEndDate").val(),
      //              WComment: $("#qeWComment").val(),

      //            };


      //            // console.log(Items);
      //            console.log(PostWorkExperience);

      //            $.ajax({
      //              type: "POST",
      //              url: "/EmployeeProfile/editWorkExperience",
      //              data: JSON.stringify(PostWorkExperience),
      //              dataType: "json",
      //              contentType: 'application/json; charset=utf-8',
      //              headers: {
      //                  RequestVerificationToken:
      //                  $('input:hidden[name="__RequestVerificationToken"]').val()
      //              },
      //              success: function (r) {

      //                if (r.msg == "Success") {

      //                  demo.showSwal('success-message');

      //                } else if (r.msg == "Fail") {

      //                  alert(r.msg);

      //                } else if (r.msg == "No Data") {
      //                  alert(r.msg);

      //                } else {
      //                  alert(r.msg);
      //                }
      //                //alert(r.msg);
      //                // window.location.reload();

      //              },
      //              error: function () {
      //                alert(r.msg);
      //              }
      //            });
      //          });



      //});
  </script>
}

