@model E4S.ViewModel.HRDashboardViewModel

@{
  ViewData["Title"] = "Dashboard HR";
  Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}


<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-stats card-raised">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="now-ui-icons users_single-02"></i>

                  </div>
                  <h3 class="info-title">@Model.TotalEmployee</h3>
                  <h6 class="stats-title">TOTAL EMPLOYEES</h6>

                </div>
              </div>
            </div>
            @*<div class="col-md-3">
                  <div class="statistics">
                      <div class="info">
                          <div class="icon icon-success">
                              <i class="now-ui-icons business_money-coins"></i>
                          </div>
                          <h3 class="info-title">
                              45
                          </h3>
                          <h6 class="stats-title">Today Revenue</h6>
                      </div>
                  </div>
              </div>*@
            <div class="col-md-4">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="now-ui-icons objects_support-17"></i>
                  </div>
                  <h3 class="info-title">@Model.PendingLeave</h3>
                  <h6 class="stats-title">TOTAL EMPLOYEES ON LEAVE</h6>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="now-ui-icons ui-2_chat-round"></i>

                  </div>
                  <h3 class="info-title">0</h3>
                  <h6 class="stats-title">TOTAL PENDING REQUESTS</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">

        <div class="card-header">
          <h4 class="card-title">Departments</h4>
          <p class="category">Head Count Per Department</p>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
          </div>
        </div>
        @*<div class="card-footer">
            <div class="stats">
              <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
            </div>
          </div>*@
      </div>








      @*<div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
              <th>
                Employee
              </th>
              <th>
                Department
              </th>
              <th>
                Job Title
              </th>
              <th>
                Status
              </th>
              <th class="text-right">
                Action
              </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Elijah Adewuyi
                  </td>
                  <td>
                    DDAI
                  </td>
                  <td>
                    Dev Ops
                  </td>
                  <td>
                    Active
                  </td>
                  <td class="text-right">
                    <a href="#" class="btn btn-sm btn-info">Profile</a>
                  </td>
                </tr>
                @foreach (var item in Model.LatestEmployeeVMs)
                {
                  <tr>
                    <td>
                      @item.EmployeeName
                    </td>
                    <td>
                      @item.Department
                    </td>
                    <td>
                      @item.JobTitle
                    </td>
                    <td>
                      @item.IsActive
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>

                }
                <tr>
                  <td>
                    Deola Akanji
                  </td>
                  <td>
                    DevOps
                  </td>
                  <td>
                    Frontend Developer
                  </td>
                  <td >
                    Active
                  </td>
                  <td class="text-right">
                    <a href="#" class="btn btn-sm btn-info">Profile</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    Bayo Kolade
                  </td>
                  <td>
                    Business Solutions
                  </td>
                  <td>
                    Functional Consultant
                  </td>
                  <td>
                    Active
                  </td>
                  <td class="text-right">
                    <a href="#" class="btn btn-sm btn-info">Profile</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    Ayo Babajide
                  </td>
                  <td>
                    Cloud Solutions
                  </td>
                  <td>
                    Cloud Architect
                  </td>
                  <td>
                    Active
                  </td>
                  <td class="text-right">
                    <a href="#" class="btn btn-sm btn-info">Profile</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <a href="#" class="pull-right">View more...</a>
            </div>

          </div>

        </div>*@
    </div>
    @*</div>*@

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Leaves</h4>
          <p class="category">Most Recent Leave Requests</p>
        </div>
        <div class="card-body">
          <div class="table">
            <table class="table">
              <thead class=" text-primary">
              <th>
                Employee
              </th>
              <th>
                Leave Request
              </th>


              <th class="text-right"></th>
              </thead>
              <tbody>
                @foreach (var item in Model.ActiveLeaves)
                {
                  <tr>
                    <td>
                      @item.EmployeeDetail.FirstName @item.EmployeeDetail.LastName
                    </td>
                    <td>
                      @item.LeaveTitle
                    </td>

                    @*<td class="text-left">
                        <a href="#" class="btn btn-round btn-info btn-icon btn-sm like" title="View Profile"><i class="fas fa-angle-right"></i></a>


                      </td>*@
                  </tr>

                }

              </tbody>
            </table>
            <div>
              <a asp-action="Index" asp-controller="Leaves" class="pull-right">View more...</a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    @*<div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Requests</h4>
            <p class="category">Most Recent Employee Requests</p>
          </div>
          <div class="card-body">
            <div class="table">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Request
                </th>
                <th>
                  Employee
                </th>


                <th class="text-right"></th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Laptop Bag
                    </td>
                    <td>
                      Elijah Adewuyi
                    </td>

                    <td class="text-left">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Wireless Mouse
                    </td>
                    <td>
                      Temofe Anene
                    </td>

                    <td class="text-left">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Microsoft HD Live Cam
                    </td>
                    <td>
                      Clement Dike
                    </td>

                    <td class="text-left">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      HP Elitebook Charger
                    </td>
                    <td>
                      Vivian Anugwa
                    </td>

                    <td class="text-left">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <a href="#" class="pull-right">View more...</a>
              </div>

            </div>
          </div>
        </div>
      </div>*@

    @*<div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Employee Birthdays</h4>
            <p class="category">Upcoming Employee Birthdays</p>
          </div>
          <div class="card-body">
            <div class="table">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Employee Name
                  </th>
                  <th>
                  Date
                </th>

                <th>
                  Department
                </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Elijah Adewuyi
                    </td>

                    <td>7/6/2019</td>

                    <td>
                      DevOps
                    </td>

                    <td class="text-left">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Clement Dike
                    </td>
                    <td>
                      9/7/2019
                    </td>
                    <td>
                      Data & AI.
                    </td>

                    <td class="text-left">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Uche Onugha
                    </td>
                    <td>
                      25/11/2019
                    </td>
                    <td>
                      Data & AI.
                    </td>

                    <td class="text-left">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Temofe Anene
                    </td>
                    <td>
                      23/12/2019
                    </td>
                    <td>
                      DevOps
                    </td>

                    <td class="text-left">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <a href="#" class="pull-right">View more...</a>
              </div>

            </div>
          </div>
        </div>
      </div>*@


    @*@{
        foreach (var item in Model.HeadCounts)
        {
          Html.DisplayText("Wfewfwefw");

        }
      }*@







  </div>

</div>
<script src="~/assets/js/plugins/chartjs.min.js"></script>



<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>


<style>
  /*.panel-header-lg {
    height: 530px;
  }*/

  /*.amcharts-chart-div > svg > g > g > g[role=menuitem] {
    display: none !important;
  }*/

  /*.rate {
    left: 30px
  }*/

  .amcharts-chart-div > a {
    display: none !important;
  }

  /*.dataTables_info {
    display: none;
  }*/

  /*.card-chart .card-footer {
    margin-top: 0px;
    padding-top: 0px;
  }*/
</style>

<!-- amCharts javascript code -->
<script type="text/javascript">


  AmCharts.makeChart("chartdiv",

    {
	"type": "serial",
      "categoryField": "category",
  "colors": [
		"#54c0f6",
		"#FF69B4",
		"#B0DE09",
		"#0D8ECF",
		"#2A0CD0",
		"#CD0D74",
		"#CC0000",
		"#00CC00",
		"#0000CC",
		"#DDDDDD",
		"#999999",
		"#333333",
		"#990000"
	],
	"startDuration": 1,
	"categoryAxis": {
		"gridPosition": "start",
		"gridAlpha": 0
	},
	"trendLines": [],
	"graphs": [
		{
			"balloonText": "[[title]] of [[category]]:[[value]]",
			"fillAlphas": 1,
			"id": "AmGraph-1",
			"title": "Male",
			"type": "column",
			"valueField": "column-1"
		},
		{
			"balloonText": "[[title]] of [[category]]:[[value]]",
			"fillAlphas": 1,
			"id": "AmGraph-2",
			"title": "Female",
			"type": "column",
			"valueField": "column-2"
		}
	],
	"guides": [],
	"valueAxes": [
		{
			"id": "ValueAxis-1",
			"stackType": "regular",
			"title": "No of Employee"
		}
	],
	"allLabels": [],
	"balloon": {},
	"legend": {
		"enabled": true,
		"useGraphSettings": true
	},
	//"titles": [
	//	{
	//		"id": "Title-1",
	//		"size": 15,
	//		//"text": "Chart Title"
	//	}
	//],
      "dataProvider": [

    @foreach (var item in Model.HeadCounts)
    {

         @:{
         @:"category": "@item.Department",
         @:"column-1": @item.Male,
         @:"column-2": @item.Female,
         @:},

    }

  //  {
		//	"category": "Sales",
		//	"column-1": 2,
		//	"column-2": 3
		//}

	]
}
  );


</script>