@model IEnumerable<E4S.Models.AccountInventory.Customer>

@{
    ViewData["Title"] = " Customer ";
    Layout = "~/Views/Shared/_LayoutAccountInventory.cshtml";
}

<style>
    .body-card {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .table-font {
        font-weight: 500;
    }
</style>

<div class="content">
    @Html.Partial("~/Views/Manage/_StatusMessage.cshtml", ViewData["StatusMessage"])

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header body-card">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 pull-left">
                                <h4 class="card-title">Customers</h4>
                            </div>

                            <div class="btn-group col-md-5 pull-right">
                                <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fff;">
                                    Export Data
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Copy</a>
                                    <a class="dropdown-item" href="#">CSV</a>
                                    <a class="dropdown-item" href="#">Excel</a>
                                    <a class="dropdown-item" href="#">PDF</a>
                                    <a class="dropdown-item" href="#">Print</a>

                                </div>

                                <a asp-action="AddCustomer" asp-controller="Customers" class="btn btn-info btn-md pull-right btn-responsive">

                                    <span class="btn-label">
                                        <i class="now-ui-icons travel_info"></i>
                                    </span>

                                    Add New Customer

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body body-card">

                    <div class="table-responsive" style="overflow:auto;">
                        <table id="datatable2" class="table table-hover">
                            <thead>
                                <tr>
                                    <th><strong>S/N</strong></th>
                                    <th><strong>Customer Name</strong></th>
                                    <th scope="col"><strong>Email</strong></th>
                                    <th scope="col"><strong>Phone</strong></th>

                                    <th scope="col"><strong>City</strong></th>
                                    <th scope="col" class="disabled-sorting"><strong>Actions</strong></th>
                                </tr>
                            </thead>
                            <tbody class="fontweight">
                                @{
                                    int i = 1;

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.CustomerName</td>
                                            <td>@item.Email</td>

                                            <td>@item.Phone</td>
                                            <td>@item.City</td>

                                            <td class="">
                                                <a asp-action="EditCustomer" asp-route-id="@item.Id" class="btn btn-warning btn-icon btn-sm" data-toggle="tooltip" data-placement="top" title="Click To Edit"><i class="fas fa-edit"></i></a>
                                                <a href="#" class="btn btn-danger btn-icon btn-sm remove" CustomerId="@item.Id" CustomerName="@item.CustomerName" Email="@item.Email" Phone="@item.Phone" Address="@item.Address" City="@item.City" ZipCode="@item.ZipCode" State="@item.State" Country="@item.Country" AccountNumber="@item.AccountNumber" BankName="@item.BankName" AccountName="@item.AccountName" SortCode="@item.SortCode" Website="@item.Website" Mobile="@item.Mobile" Note="@item.Note" Status="@item.Status"><i class="fas fa-times" data-toggle="tooltip" data-placement="top" title="Click To Delete" ></i></a>
                                            </td>
                                        </tr>

                                        i = i + 1;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script>
            $(document).ready(function () {

                $('#datatable2').DataTable({
                    "pagingType": "full_numbers",
                    dom: "Bfrtip",
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        [10, 25, 50, "All"]
                    ],


                    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf',
                        'print',
                    ],


                    responsive: true,
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search records",
                    }

                });

                var table = $('#datatable2').DataTable();


                // Delete a record
                table.on('click', '.remove', function (e) {
                    $tr = $(this).closest('tr');

                    customerId = $(this).attr('CustomerId');
                    customername = $(this).attr('CustomerName');
                    email = $(this).attr('Email');
                    phone = $(this).attr('Phone');
                    address = $(this).attr('Address');
                    city = $(this).attr('City');
                    zipcode = $(this).attr('ZipCode');
                    state = $(this).attr('State');
                    country = $(this).attr('Country');
                    accountNumber = $(this).attr('AccountNumber');
                    bankName = $(this).attr('BankName');
                    accountName = $(this).attr('AccountName');
                    sortCode = $(this).attr('SortCode');
                    website = $(this).attr('Website');
                    mobile = $(this).attr('Mobile');
                    note = $(this).attr('Note');
                    status = $(this).attr('Status');



                    swal({
                        title: 'Are you sure?',
                        text: "You are about to delete '" + customername + "'",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        confirmButtonText: 'Yes, delete it!',
                        buttonsStyling: false
                    }).then(function () {

                        $.ajax({
                            type: "POST",
                            url: "/Customers/DeleteCustomer",
                            data: JSON.stringify(customerId),
                            dataType: "json",
                            contentType: 'application/json; charset=utf-8',
                            headers: {
                                RequestVerificationToken:
                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (r) {

                                if (r.msg == "Success") {

                                    swal({
                                        title: 'Deleted!',
                                        text: 'Your file has been deleted.',
                                        type: 'success',
                                        confirmButtonClass: "btn btn-success",
                                        buttonsStyling: false
                                    });


                                } else if (r.msg == "Fail") {

                                    alert(r.msg);

                                } else if (r.msg == "No Data") {
                                    alert(r.msg);

                                } else {
                                    alert(r.msg);
                                }
                                //alert(r.msg);
                                // window.location.reload();

                            },
                            error: function () {
                                alert(r.msg);
                            }
                        });


                        table.row($tr).remove().draw();

                    }).catch(swal.noop);


                    e.preventDefault();
                });

                //Like record
                table.on('click', '.like', function () {
                    alert('You clicked on Like button');
                });
            });
    </script>



}
