@model E4S.Models.Organisation
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutNew";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

@*<!-- End Navbar -->
    <!-- End Navbar -->
    <div class="panel-header panel-header-sm">
    </div>*@
<div class="content">
  @Html.Partial("~/Views/Manage/_StatusMessage.cshtml", ViewData["StatusMessage"])

  <div class="col-md-10 mr-auto ml-auto">
    <!--      Wizard container        -->
    <div class="wizard-container">
      <div class="card card-wizard" data-color="primary" id="wizardProfile">
        @*<form action="" method="">*@
        <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
        <div class="card-header text-center" data-background-color="orange">
          <h3 class="card-title">
            @if (Model.OrganisationName == "")
            {
              Model.OrganisationName = "Build Your Profile";
              @Model.OrganisationName
            }
            else
            {
              @Model.OrganisationName
            }

          </h3>
          <h5 class="description">This information will let us know more about you.</h5>
          
          <input asp-for="Id" hidden />
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="about">
              <h5 class="info-text"> Let's start with the basic information (with validation)</h5>
              <div class="row justify-content-center">
                <div class="col-sm-4">

                  <form enctype="multipart/form-data" asp-action="UploadProfile" method="post">
                    <h5 class="description">Choose Orginsation Logo</h5>

                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div class="fileinput-new thumbnail">
                        @if (Model.ImageUrl == null || Model.ImageUrl == "")
                        {
                          <img src="../../assets/img/image_placeholder.jpg" id="imageUploadForm" name="image" multiple="multiple" alt="...">

                        }
                        else
                        {
                          <img src="~/@Model.ImageUrl" id="imageUploadForm" name="image" multiple="multiple" alt="...">

                        }
                      </div>
                      <div class="fileinput-preview fileinput-exists thumbnail"></div>
                      <div>
                        <span class="btn btn-rose btn-round btn-file">
                          <span class="fileinput-new">Select image</span>
                          <span class="fileinput-exists">Change</span>
                          <input type="file" name="file" id="file" />
                        </span>
                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success btn-md fileinput-exists">Upload</button>
                      </div>

                    </div>

                  </form>


                  @*<div class="picture-container">
                        <div class="picture">
                        <img src="../../assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                        <input type="file" id="wizard-picture">
                        </div>
                        <h6 class="description">Choose Orginsation Logo</h6>
                    </div>*@
                </div>
                <div class="col-sm-6">
                  <label class="col-md-9 col-form-label">Registration No</label>
                  <div class="input-group form-control-lg">
                    <input type="text" disabled class="form-control" asp-for="RegistrationNo" placeholder="Registration (required)">
                  </div>
                  <label class="col-md-9 col-form-label">Organisation Name</label>
                  <div class="input-group form-control-lg">
                    <input type="text" disabled placeholder="Organisation Name (required)" class="form-control" asp-for="OrganisationName" />
                  </div>
                  <label class="col-md-9 col-form-label">Phone Number</label>
                  <div class="input-group form-control-lg">
                    <input type="text" disabled placeholder="Phone Number (required)" class="form-control" asp-for="PhoneNumber" />
                  </div>
                  <label class="col-md-9 col-form-label">Email</label>
                  <div class="input-group form-control-lg">
                    <input type="text" disabled placeholder="Email Address (required)" class="form-control" asp-for="Email" />
                  </div>
                  <label class="col-md-9 col-form-label">Zip Code</label>
                  <div class="input-group form-control-lg">
                    <input type="text" disabled placeholder="Zip Code (required)" class="form-control" asp-for="ZipCode" />
                  </div>
                  <label class="col-md-9 col-form-label">Tax ID</label>
                  <div class="input-group form-control-lg">
                    <input type="text" disabled placeholder="Tax ID (required)" asp-for="TaxId" class="form-control" />
                  </div>
                  <label class="col-md-9 col-form-label">Organisation Prefix</label>
                  <div class="input-group form-control-lg">
                    <input type="text" disabled placeholder="Organisation Prefix (required)" asp-for="OrganisationPrefix" class="form-control" />
                  </div>
                  <label class="col-md-9 col-form-label">Address</label>
                  <div class="input-group form-control-lg">
                    <input type="text" disabled placeholder="Last Name (required)" asp-for="Address" class="form-control" />
                  </div>
                  @*<label>Country</label>
                    <div class="form-group">
                        <select id="country" class="form-control" asp-for="Country" required><option value="@null">-- Country --</option></select>
                    </div>

                    <label>State</label>
                    <div class="form-group">
                        <select id="region" class="form-control" asp-for="State" required><option value="@null">-- State --</option></select>
                    </div>

                    <label>City</label>
                    <div class="form-group">
                        <select id="city" class="form-control" asp-for="City" required><option value="@null">-- City --</option></select>
                    </div>*@
                  <div class="form-group">
                    <a class="btn btn-fill btn-primary" asp-action="Edit" asp-controller="Organisation">Update Organisation</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        @*</form>*@
      </div>
    </div>
    <!-- wizard container -->
  </div>
</div>

<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>

<script>
    $(document).ready(function () {
        //-------------------------------SELECT CASCADING-------------------------//
        var selectedCountry = selectedRegion = selectedCity = countryCode = "";
        // This is a demo API key for testing purposes. You should rather request your API key (free) from http://battuta.medunes.net/
        var BATTUTA_KEY = "00000000000000000000000000000000";
        // Populate country select box from battuta API
        url =
            "https://geo-battuta.net/api/country/all/?key=" +
            BATTUTA_KEY +
            "&callback=?";
        // EXTRACT JSON DATA.
        $.getJSON(url, function (data) {
            $.each(data, function (index, value) {
                // APPEND OR INSERT DATA TO SELECT ELEMENT. Set the country code in the id section rather than in the value.
                $("#country").append(
                    '<option id="' + value.code + '" value="' + value.code + '">' + value.name + "</option>"
                );
            });
        });
        // Country selected --> update region list .
        $("#country").change(function () {
            selectedCountry = this.options[this.selectedIndex].text;
            countryCode = $(this).children(":selected").attr("id");
            url =
                "https://geo-battuta.net/api/region/" +
                countryCode +
                "/all/?key=" +
                BATTUTA_KEY +
                "&callback=?";
            $.getJSON(url, function (data) {
                $("#region option").remove();
                $.each(data, function (index, value) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $("#region").append(
                        '<option value="' + value.region + '">' + value.region + "</option>"
                    );
                });
            });
        });
        // Region selected --> updated city list
        $("#region").on("change", function () {
            selectedRegion = this.options[this.selectedIndex].text;
            // Populate country select box from battuta API
            region = $("#region").val();
            url =
                "https://geo-battuta.net/api/city/" +
                countryCode +
                "/search/?region=" +
                region +
                "&key=" +
                BATTUTA_KEY +
                "&callback=?";
            $.getJSON(url, function (data) {
                $("#city option").remove();
                $.each(data, function (index, value) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $("#city").append(
                        '<option value="' + value.city + '">' + value.city + "</option>"
                    );
                });
            });
        });
        // city selected --> update location string
        $("#city").on("change", function () {
            selectedCity = this.options[this.selectedIndex].text;
            $("#location").html(
                "Locatation: Country: " +
                selectedCountry +
                ", Region: " +
                selectedRegion +
                ", City: " +
                selectedCity
            );
        });

    });
    // process form
    function processForm() {
        var username = password = country = region = city = '';
        username = $('#username').val();
        password = $('#password').val();
        country = $('#country').val();
        region = $('#region').val();
        city = $('#city').val();
        if (username != '' && password != '' && country != '' && region != '' && city != '') {
            $("#location").html(
                "Username: " + username +
                " /Password: " + password +
                " /Locatation: Country: " +
                country +
                ", Region: " +
                region +
                ", City: " +
                city
            );
        } else {
            $("#location").html('Complete Form 1st');
            return false;
        }
    }
</script>


