@model  IEnumerable<E4S.Models.AccountInventory.NewInventory>

@{
  ViewData["Title"] = "New Stock";
  Layout = "~/Views/Shared/_LayoutAccountInventory.cshtml";
}


<style>
  .body-card {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
  }

  .table-font {
    font-weight: 500;
  }
</style>

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header body-card">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Export Data
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Copy</a>
              <a class="dropdown-item" href="#">CSV</a>
              <a class="dropdown-item" href="#">Excel</a>
              <a class="dropdown-item" href="#">PDF</a>
              <a class="dropdown-item" href="#">Print</a>

            </div>
          </div>

          <button class="btn btn-info btn-md pull-right btn-responsive" data-toggle="modal" data-target="#exampleModalLong">

            <span class="btn-label">
              <i class="now-ui-icons travel_info"></i>
            </span>

            Create New

          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Enter New Stock Record</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <form>
                    <label class="pull-left">Product Name</label>
                    <select id="productName" name="productName" asp-items="ViewBag.Products" type="text" class="form-control"></select>
                    <br />
                    <label class="pull-left">Quantity</label>
                    <input id="quantity" name="quantity" type="number" class="form-control" />
                    <br />
                    <label class="pull-left">Unit Price</label>
                    <input id="unitprice" name="unitprice" type="number" class="form-control text-right" />
                    <br />
                    <label class="pull-left">Total Price</label>
                    <input id="totalprice" name="totalprice" type="number" class="form-control text-right" />
                    <br />

                  </form>

                </div>
                <div class="modal-footer">
                  <button  type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button id="SubmitNewVendor" name="SubmitNewVendor" type="button" class="btn btn-info">Create</button>
                </div>
              </div>
            </div>
          </div>

          <h4 class="card-title">Stock</h4>
        </div>
        <div class="card-body body-card">

          <div class="table-responsive-sm">
            <table id="datatable" class="table table-hover">
              <thead>
                <tr>
                  <th><strong>S/N</strong></th>
                  <th scope="col"><strong>Date</strong></th>
                  <th scope="col"><strong>Product Name</strong></th>
                  <th scope="col"><strong>Description</strong></th>

                  <th scope="col"><strong>Quantity</strong></th>
                  <th class="text-right" scope="col"><strong>Unit Price</strong></th>
                  <th class="text-right" scope="col"><strong>Total Price</strong></th>
                  <th class="text-right disabled-sorting" scope="col" ><strong>Actions</strong></th>
                </tr>
              </thead>
              <tbody class="fontweight">
                @{
                  int i = 1;

                  @foreach (var item in Model)
                  {
                <tr>
                  <td>@i</td>
                  <td>@item.DateCreated.ToString("dd MMM, yy")</td>
                  <td>@item.ProductService.ProductServiceName</td>
                  <td>@item.ProductService.Description</td>
                  <td>@item.Quantity</td>
                  <td class="text-right">@item.UnitPrice.ToString("N2")</td>

                  <td class="text-right">@item.TotalPrice.ToString("N2")</td>
                  <td class="text-right">
                    <a href="#" class="btn btn-warning btn-icon btn-sm edit"><i class="fas fa-edit"></i></a>
                    <a href="#" class="btn btn-danger btn-icon btn-sm remove"><i class="fas fa-times"></i></a>
                  </td>
                </tr>

                    i++;
                  }

                }

              </tbody>
            </table>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>

@section Scripts {

  <script type="text/javascript">
    $('#unitprice').keyup(function () {
      $('#totalprice').val($(this).val() * $('#quantity').val());
    });

    $('#totalprice').keyup(function () {
      $('#unitprice').val($(this).val() / $('#quantity').val());
    });


    $(document).ready(function () {

     $("#SubmitNewVendor").click(function (event) {

      event.preventDefault();

      //$("#loading-overlay").show();

      var NewInventory = {
        ProductServiceId: $("#productName").val(),
        UnitPrice: $("#unitprice").val(),
        TotalPrice: $("#totalprice").val(),
        Quantity: $("#quantity").val(),
      };


      console.log(NewInventory);

      $.ajax({
        type: "POST",
        url: "/NewStock/AddNewStock",
        data: JSON.stringify(NewInventory),
        dataType: "json",
        contentType: 'application/json; charset=utf-8',
        headers: {
          RequestVerificationToken:
            $('input:hidden[name="__RequestVerificationToken"]').val()
        },
        success: function (r) {

          if (r.msg == "Success") {

        	swal({
                title: "Success!",
                text: "Product Added!",
                buttonsStyling: false,
                confirmButtonClass: "btn btn-success",
            type: "success"
          }).then(function () {
            window.location.reload();
          }).catch(swal.noop);

          } else if (r.msg == "Fail") {
            $("#loading-overlay").hide();
            alert(r.msg);

          } else if (r.msg == "No Data") {
            $("#loading-overlay").hide();
            alert(r.msg);

          } else {
            $("#loading-overlay").hide();
            alert(r.msg);
          }

        },
        error: function () {
          $("#loading-overlay").hide();
          alert(r.msg);
        }
      });
    });

})
  </script>

}
