@model IEnumerable<E4S.Models.AccountInventory.Vendor>


@{
    ViewData["Title"] = "Vendors";
    Layout = "~/Views/Shared/_LayoutAccountInventory.cshtml";
}
<style>
    .body-card {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .table-font {
        font-weight: 500;
    }
</style>

<div class="content">
    @Html.Partial("~/Views/Manage/_StatusMessage.cshtml", ViewData["StatusMessage"])

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header body-card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 pull-left">
                                <h4 class="card-title">Vendors</h4>
                            </div>


                            <div class="btn-group col-md-4 pull-right">

                                <a asp-action="AddVendor" asp-controller="Vendors" class="btn btn-info btn-md pull-right btn-responsive">

                                    <span class="btn-label">
                                        <i class="now-ui-icons travel_info"></i>
                                    </span>

                                    Add New Vendor

                                </a>

                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Export Data
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Copy</a>
                                    <a class="dropdown-item" href="#">CSV</a>
                                    <a class="dropdown-item" href="#">Excel</a>
                                    <a class="dropdown-item" href="#">PDF</a>
                                    <a class="dropdown-item" href="#">Print</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body body-card">
                    <div class="col-md-12">
                        <div class="table-responsive" style="overflow: auto;">
                            <table id="datatable2" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><strong>S/N</strong></th>
                                        <th><strong>Vendor Name</strong></th>
                                        <th scope="col"><strong>Email</strong></th>
                                        <th scope="col"><strong>Phone</strong></th>
                                        <th scope="col"><strong>Address</strong></th>
                                        <th scope="col"><strong>City</strong></th>
                                        <th scope="col" class="disabled-sorting"><strong>Actions</strong></th>
                                    </tr>
                                </thead>
                                <tbody class="fontweight">
                                    @{
                                        int i = 1;

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.VendorName</td>
                                                <td>@item.Email</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Address</td>
                                                <td>@item.City</td>
                                                <td class="">
                                                    <a asp-action="EditVendor" asp-route-id="@item.Id" class="btn btn-warning btn-icon btn-sm"><i class="fas fa-edit"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Click To Delete"  class="btn btn-danger btn-icon btn-sm remove" VendorId="@item.Id" VendorName="@item.VendorName" Email="@item.Email" Phone="@item.Phone" Address="@item.Address" City="@item.City" Country="@item.Country" State="@item.State"><i class="fas fa-times"></i></a>
                                                </td>
                                            </tr>

                                        }
                                    }

                                    @*<tr>
                                          <td>1</td>
                                          <td>Olivia Liang</td>
                                          <td>Support Engineer</td>
                                          <td>Support Engineer</td>
                                          <td>Support Engineer</td>
                                          <td>Support Engineer</td>
                                          <td>Support Engineer</td>
                                          <td>64</td>
                                          <td class="">
                                            <a href="#" class="btn btn-warning btn-icon btn-sm edit"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="btn btn-danger btn-icon btn-sm remove"><i class="fas fa-times"></i></a>
                                          </td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script>
            $(document).ready(function () {

                $('#datatable2').DataTable({
                    "pagingType": "full_numbers",
                    dom: "Bfrtip",
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        [10, 25, 50, "All"]
                    ],


                    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf',
                        'print',
                    ],


                    responsive: true,
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search records",
                    }

                });

                var table = $('#datatable2').DataTable();


                // Delete a record
                table.on('click', '.remove', function (e) {
                    $tr = $(this).closest('tr');

                    vendorId = $(this).attr('VendorId');
                    vendorName = $(this).attr('VendorName');
                    email = $(this).attr('Email');
                    phone = $(this).attr('Phone');
                    address = $(this).attr('Address');
                    city = $(this).attr('City');
                    zipcode = $(this).attr('ZipCode');
                    state = $(this).attr('State');
                    country = $(this).attr('Country');                    
                  



                    swal({
                        title: 'Are you sure?',
                        text: "You are about to delete '" + vendorName + "'",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        confirmButtonText: 'Yes, delete it!',
                        buttonsStyling: false
                    }).then(function () {

                        $.ajax({
                            type: "POST",
                            url: "/Vendors/DeleteVendors",
                            data: JSON.stringify(vendorId),
                            dataType: "json",
                            contentType: 'application/json; charset=utf-8',
                            headers: {
                                RequestVerificationToken:
                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (r) {

                                if (r.msg == "Success") {

                                    swal({
                                        title: 'Deleted!',
                                        text: 'Your file has been deleted.',
                                        type: 'success',
                                        confirmButtonClass: "btn btn-success",
                                        buttonsStyling: false
                                    });


                                } else if (r.msg == "Fail") {

                                    alert(r.msg);

                                } else if (r.msg == "No Data") {
                                    alert(r.msg);

                                } else {
                                    alert(r.msg);
                                }
                                //alert(r.msg);
                                // window.location.reload();

                            },
                            error: function () {
                                alert(r.msg);
                            }
                        });


                        table.row($tr).remove().draw();

                    }).catch(swal.noop);


                    e.preventDefault();
                });

                //Like record
                table.on('click', '.like', function () {
                    alert('You clicked on Like button');
                });
            });
    </script>



}
