@model IEnumerable<E4S.Models.HumanResource.Vacancy>

@{
  ViewData["Title"] = "Vacancies";
  Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}


<div class="content">


  <div class="row">
    <!-- Column -->

    <div class="container-fluid">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                @*<div class="justify-content-end align-items-center pull-right">*@
                  <a asp-action="AddVacancy" asp-controller="Recruitments" class="btn btn-info">Create Vacancy</a>
                @*</div>*@

                <h4 class="card-title">List of Vacancies</h4>
              </div>
              <div class="card-body">
                <br />
                <table id="datatable" class="table table-striped " cellspacing="10" width="100%">
                  <thead>
                    <tr>
                      <th>Vacancy</th>
                      <th>Hiring Manager</th>
                      <th>No. Of Positions</th>
                      <th>Description</th>
                      <th>Application Deadline</th>
                      <th class="disabled-sorting text-right">Options</th>
                    </tr>
                  </thead>
                  @*<tfoot>
                    <tr>
                      <th>Vacancy</th>
                      <th>Hiring Manager</th>
                      <th>No. Of Positions</th>
                      <th>Description</th>
                      <th>Application Deadline</th>
                      <th class="disabled-sorting text-right">Options</th>
                    </tr>
                  </tfoot>*@
                  <tbody>

                    @foreach (var item in Model)
                    {
                      <tr>
                        <td>@item.JobTitle.JobTitleName</td>
                        <td>@item.HiringManager</td>
                        <td>@item.NumberOfPosition</td>
                        <td>@item.Description</td>
                        <td>@item.VacancyCloseDate.ToString("MMM dd, yyyy")</td>
                        <td class="text-right">
                          <a href="#" class="btn btn-round btn-warning btn-icon btn-sm edit"><i class="far fa-calendar-alt"></i></a>
                          <a href="#" class="btn btn-round btn-info btn-icon btn-sm like"><i class="fas fa-globe"></i></a>
                          <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove"><i class="fas fa-times"></i></a>
                        </td>
                      </tr>

                    }

                  </tbody>
                </table>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
</div>



