@model  IEnumerable<E4S.Models.HumanResource.Payroll>
@{
  ViewData["Title"] = "Monthly Payroll";
  Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}

<div class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          @*<a asp-action="AddEmployee" asp-controller="Employees" class="btn btn-fill btn-info">Add New Employee</a>*@
          @*<button class="btn btn-info" data-toggle="modal" data-target="#noticeModal">*@
          @*<a asp-action="AddEmployee" class="btn btn-info">Add New Employee</a>*@
          @*</button>*@
          <div class="card">
            <div class="card-title">

              <h6>Payroll</h6>
              @*<a asp-action="AddEmployee" class="btn btn-info">Salary Additions</a>
              <a asp-action="AddEmployee" class="btn btn-danger pull-right">Salary Deductions</a>*@

              <div class="card-body">
                <div class="toolbar">
                  <!-- Here you can write extra buttons/actions for the toolbar              -->
                </div>


                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead class="text-primary">

                  <th class="text-center">
                    #
                  </th>

                  <th>
                    Employee Name
                  </th>
                  <th>
                    Basic
                  </th>
                  <th>
                    Housing
                  </th>
                  <th>
                    Transport
                  </th>
                  <th>
                    Meal
                  </th>
                  <th>
                    Monthly Salary
                  </th>
                  <th>
                    Annual Gross Salary
                  </th>
                  <th>
                    OverTime
                  </th>
                  <th>
                    Arrears
                  </th>
                  <th>
                    Annual OT + ARRS
                  </th>
                  <th>
                    Gross Monthly Emolument (Salary + Overtime)
                  </th>
                  <th>
                    Gross Annual Emolument (Salary + Overtime)
                  </th>
                  <th>
                    Pension Fund
                  </th>
                  <th>
                    NHIS
                  </th>
                  <th>
                    Gratituties
                  </th>
                  <th>
                    Life Assurance
                  </th>
                  <th>
                    Consolidated Reliefs & Allowance
                  </th>
                  <th>
                    Total Annual Relief
                  </th>
                  <th>
                    Taxable Income
                  </th>
                  <th>
                    Computed Annual Tax
                  </th>
                  <th>
                    Minimum Tax
                  </th>
                  <th>
                    Monthly Min Tax
                  </th>
                  <th>
                    Annual Tax Payable
                  </th>
                  <th>
                    Annual Actaul Tax Payable
                  </th>
                  <th>
                    Monthly Actual Tax Payable
                  </th>
                  <th>
                    Pension Deduction Monthly
                  </th>
                  <th>
                    Staff Loan
                  </th>
                  <th>
                    Absent Deductions
                  </th>
                  <th>
                    Cooperative Deduction
                  </th>
                  <th>
                    Other Deduction
                  </th>
                  <th>
                    Total Deduction
                  </th>
                  <th>
                    Addition
                  </th>
                  <th>
                    Payable to Staff
                  </th>

                  </thead>


                  <tbody>

                    @{
                      int i = 1;

                      @if (Model.Count() < 1)
                      {
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>No Data to Display</td>
                      <td></td>
                      <td></td>
                      <td></td>

                    }


                      foreach (var item in Model)
                      {

                <tr>
                  <td class="text-center">
                    @i
                  </td>

                  <td>
                    @item.EmployeeName
                  </td>
                  <td>
                    @item.Basic
                  </td>
                  <td>
                    @item.Housing
                  </td>
                  <td>
                    @item.Transport
                  </td>
                  <td>
                    @item.Meal
                  </td>
                  <td>
                    @item.MonthlyBasic
                  </td>
                  <td>
                    @item.AnnualGrossSalary
                  </td>
                  <td>
                    @item.Overtime
                  </td>
                  <td>
                    @item.Arrears
                  </td>
                  <td>
                    @item.AnnualOTArrears
                  </td>
                  <td>
                    @item.GrossMonthlyEmolument
                  </td>
                  <td>
                    @item.GrossAnnualEmolument
                  </td>
                  <td>
                    @item.PensionFund
                  </td>
                  <td>
                    @item.NHIS
                  </td>
                  <td>
                    @item.Gratuities
                  </td>
                  <td>
                    @item.LifeAssurance
                  </td>
                  <td>
                    @item.ConsolidatedReliefsAllowance
                  </td>
                  <td>
                    @item.TotalAnnualRellief
                  </td>
                  <td>
                    @item.TaxableIncome
                  </td>
                  <td>
                    @item.ComputedAnnualTax
                  </td>
                  <td>
                    @item.MinimumTax
                  </td>
                  <td>
                    @item.MonthlyMinimumTax
                  </td>
                  <td>
                    @item.AnnualPayableTax
                  </td>
                  <td>
                    @item.AnnualActualTaxPayable
                  </td>
                  <td>
                    @item.MonthlyActualTaxPayable
                  </td>
                  <td>
                    @item.PensionDeductionMonthly
                  </td>
                  <td>
                    @item.StaffLoan
                  </td>
                  <td>
                    @item.AbsentDeductions
                  </td>
                  <td>
                    @item.CooperativeDeduction
                  </td>
                  <td>
                    @item.OtherDeductions
                  </td>
                  <td>
                    @item.TotalDeduction
                  </td>
                  <td>
                    @item.Addition
                  </td>
                  <td>
                    @item.PayableToStaff

                  </td>
                </tr>

                        { i = i + 1; }
                      }
                    }

                    </tbody>
                  </table>
              </div>


            </div>



            @*<button class="btn btn-danger pull-right" data-toggle="modal" data-target="#uploadModal">
                  Download P
              </button>*@
          </div>

          <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notice">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                  <h5 class="modal-title" id="myModalLabel">Upload EXCEL (.xlsx) File</h5>
                </div>
                <div class="modal-body">
                  <div class="instruction">
                    <form enctype="multipart/form-data" asp-action="UploadEmployeeCSV" method="post">
                      <div class="row">
                        <div class="col-md-12 content-center">
                          <div class="form-group">
                            <h6><b>Format:  </b><i>Download sample <a href="~/document/EMPLOYEE_LIST_UPLOAD.xlsx">here</a></i></h6>

                            <label>Select File</label>
                            @*<input type="file" class="form-control" placeholder="First Name" id="csvFile">*@
                          </div>
                        </div>
                      </div>

                      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                          <img src="../../assets/img/image_placeholder.jpg" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div>
                          <span class="btn btn-rose btn-round btn-file">
                            <span class="fileinput-new">Select CSV File</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" id="file" name="file" />
                          </span>
                          <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                      </div>

                      <hr />
                      <div class="card-footer ">
                        <button type="submit" class="btn btn-fill btn-primary btn-round" id="uploadCSV">Submit</button>
                        <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
                @*<div class="modal-footer justify-content-center">
                      <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
                  </div>*@
              </div>
            </div>
          </div>

          <!-- notice modal -->
          <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notice">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                  <h5 class="modal-title" id="myModalLabel">Enter New Employee Details</h5>
                </div>
                <div class="modal-body">
                  <div class="instruction">
                    <form>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" id="firstName" value="" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" id="lastName" value="" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Personal Email" id="personalEmail" value="" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" id="phoneNumber" value="" required>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="card-footer ">
                        <button type="submit" class="btn btn-fill btn-primary btn-round" id="submitNewEmployee">Submit</button>
                        <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
                @*<div class="modal-footer justify-content-center">
                      <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
                  </div>*@
              </div>
            </div>
          </div>
          <!-- end notice modal -->
          @*<button type="submit" class="btn btn-fill btn-info">Add Employee</button>*@




        </div>
      </div>
    </div>
  </div>


</div>



@section Scripts {

  @*<script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>*@

}
