@model IEnumerable<E4S.Models.HumanResource.SalaryDeduction>

@{
    ViewData["Title"] = "Salary Deductions";
    Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}


    <style>
        .body-card {
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 1%;
            margin-bottom: 2%;
        }

        .button-padding {
            margin-right: 10px;
            top: -15px;
        }
    </style>

<div class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="card-title"> Salary Deduction</h4>
                        </div>
                        <div class="col-md-2">
                            @*<a asp-action="AddEmployee" asp-controller="Employees" class="btn btn-fill btn-info">Add New Employee</a>*@
                            <button class="btn btn-info " data-toggle="modal" data-target="#noticeModal">
                                <span class="btn-label">
                                    <i class="now-ui-icons travel_info"></i>
                                </span>
                                Create
                            </button>
                            <a class="btn btn-light " onClick="javascript:history.go(-1)" style="color:#fff;">
                                <i class="now-ui-icons arrows-1_minimal-left"></i> <span>Back</span>
                            </a>
                        </div>                       
                    </div>
                    <!-- notice modal -->
                    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-notice">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                    <h5 class="modal-title" id="myModalLabel">Enter New Salary Deduction</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="instruction">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Employee Name</label>
                                                        <select class="form-control" placeholder="Employee Name" id="employeeId" asp-items="ViewBag.EmployeeDetails" required>
                                                            <option value="00000000-0000-0000-0000-000000000000"> --- Not Assigned --- </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Deduction Type</label>
                                                        <select type="text" class="form-control" asp-items="ViewBag.Deductions" id="DeductionType" >
                                                            <option> -- Select Deduction Type -- </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Amount</label>
                                                        <input type="text" class="form-control" placeholder="Amount" id="Amount" required>
                                                        <input type="hidden" class="form-control" id="DedSalId" name="DedSalId" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <textarea class="form-control" placeholder="Description" id="Description" required rows="3"></textarea>
                                                        @*<input type="text" class="form-control" placeholder="Department Name" id="Description" name="Description" required>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer ">
                                                <button type="submit" class="btn btn-fill btn-primary btn-round" id="submitDeductions">Submit</button>
                                                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                @*<div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- end notice modal -->
                    <!-- notice Edit modal -->
                    <div class="modal fade" id="noticeModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-notice">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                    <h5 class="modal-title" id="myModalLabel">Edit Asset Details</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="instruction">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Employee Name</label>
                                                        <select class="form-control" placeholder="Employee Name"  id="eemployeeId" name="eemployeeId" asp-items="ViewBag.EmployeeDetails" required>
                                                            @*<option value="00000000-0000-0000-0000-000000000000"> --- Not Assigned --- </option>*@
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Deduction Type</label>
                                                        <select type="text" class="form-control"  asp-items="ViewBag.Deductions" id="eDeductionType" name="eDeductionType">
                                                            @*<option> -- Select Deduction Type -- </option>*@
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Amount</label>
                                                        <input type="text" class="form-control" placeholder="Amount" id="eAmount" name="eAmount" required>
                                                        <input type="hidden" class="form-control" id="DedSalId" name="DedSalId" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <textarea class="form-control" placeholder="Description" id="eDescription" name="eDescription" required rows="3"></textarea>
                                                        @*<input type="text" class="form-control" placeholder="Department Name" id="Description" name="Description" required>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer ">
                                                <button type="submit" class="btn btn-fill btn-primary btn-round" id="submitEditDeductions">Submit</button>
                                                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                                @*<div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- end notice Edit modal -->
                    @*<button type="submit" class="btn btn-fill btn-info">Add Employee</button>*@
                </div>
                <input id="AssetId" name="AssetId" hidden />

                <div class="card-body">
                    <div>
                        <table class="table table-striped" id="datatable2" cellspacing="10" width="100%">
                            <thead class="text-primary">
                            <th class="text-center">
                                #
                            </th>
                            <th>
                                Employee Name
                            </th>
                            <th>
                                Salary Deduction
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Month
                            </th>
                            <th>
                                Action
                            </th>

                            </thead>


                            <tbody>

                                @{
                                    int i = 1;

                                    @if (Model.Count() < 1)
                                    {
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>No Data to Display</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                }


                                    foreach (var item in Model)
                                    {

                                    <tr>
                                        <td class="text-center">
                                            @i
                                        </td>

                                        <td>
                                            @item.EmployeeDetail.FirstName
                                            @item.EmployeeDetail.LastName
                                        </td>
                                        <td>
                                            @item.Deduction.DeductionType
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>
                                            @item.Amount
                                        </td>
                                        <td>
                                            @item.DateCreated.Month
                                        </td>
                                        <td>
                                            <span data-toggle="modal" data-target="#noticeModal1"><a href="#" class="btn btn-round btn-warning btn-icon btn-sm" id="Editbtn" title="Click to Edit" data-toggle="tooltip" data-placement="top" EditDedId="@item.Id" select-EmployeeDetailsId="@item.EmployeeDetailId" Selected-DeductonId="@item.DeductionId" Selected-Amount="@item.Amount" Selected-Description="@item.Description"><i class="far fa-calendar-alt"></i></a></span>
                                            <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove" DeductionId="@item.Id" DeductionName="@item.Deduction.DeductionType" title="Click to Delete" data-toggle="tooltip" data-placement="top"><i class="fas fa-times"></i></a>

                                        </td>
                                    </tr>

                                        { i = i + 1; }
                                    }
                                }

                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>








@section Scripts {

    <!--  DataTables.net Plugin, full documentation here  -->
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(function () {

        $('#datatable2').DataTable({
          "pagingType": "full_numbers",
          dom: "Bfrtip",
          "lengthMenu": [
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
          ],


          buttons: [
            'copy',
            'excel',
            'csv',
            'pdf',
            'print',
          ],


          responsive: true,
          language: {
            search: "_INPUT_",
            searchPlaceholder: "Search records",
          }

        });

        var table = $('#datatable2').DataTable();



        // Delete a record
        table.on('click', '.remove', function (e) {
          $tr = $(this).closest('tr');

          deductionId = $(this).attr('DeductionId');
          deductionName = $(this).attr('deductionName');




          swal({
            title: 'Are you sure?',
            text: "You are about to delete '" + deductionName + "'",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!',
            buttonsStyling: false
          }).then(function () {

            $.ajax({
              type: "POST",
              url: "/Payroll/deleteSalaryDeduction",
              data: JSON.stringify(deductionId),
              dataType: "json",
              contentType: 'application/json; charset=utf-8',
              headers: {
                RequestVerificationToken:
                  $('input:hidden[name="__RequestVerificationToken"]').val()
              },
              success: function (r) {

                if (r.msg == "Success") {

                  swal({
                    title: 'Deleted!',
                    text: 'Your file has been deleted.',
                    type: 'success',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false
                  });


                } else if (r.msg == "Fail") {

                  alert(r.msg);

                } else if (r.msg == "No Data") {
                  alert(r.msg);

                } else {
                  alert(r.msg);
                }
                //alert(r.msg);
                // window.location.reload();

              },
              error: function () {
                alert(r.msg);
              }
            });


            table.row($tr).remove().draw();

          }).catch(swal.noop);


          e.preventDefault();
        });

        //Like record
        table.on('click', '.like', function () {
          alert('You clicked on Like button');
        });
      });
    </script>




    <script type="text/javascript">

        $(document).ready(function () {

            $("#submitDeductions").click(function (event) {

                event.preventDefault();

                var SalaryDeductions = {
                    EmployeeDetailsId: $("#employeeId").val(),
                    DeductionId: $("#DeductionType").val(),
                    Amount: $("#Amount").val(),
                    Description: $("#Description").val(),
                };


                // console.log(Items);
                console.log(SalaryDeductions);

                $.ajax({
                    type: "POST",
                    url: "/Payroll/postSalaryDeductions",
                    data: JSON.stringify(SalaryDeductions),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (r) {

                        if (r.msg == "Success") {

                            demo.showSwal('success-message');

                        } else if (r.msg == "Fail") {

                            alert(r.msg);

                        } else if (r.msg == "No Data") {
                            alert(r.msg);

                        } else {
                            alert(r.msg);
                        }
                        //alert(r.msg);
                        // window.location.reload();

                    },
                    error: function () {
                        alert(r.msg);
                    }
                });
            });
        });


        //Code for pulling the Records on the Table
    var aEditDedId;

    $(document).delegate('#Editbtn',
      'click',
      function (e) {

          aEditDedId = $(this).attr('EditDedId');
          employeeDetailsId = $(this).attr('select-EmployeeDetailsId');
          deductionId = $(this).attr('Selected-DeductonId');
          amount = $(this).attr('Selected-Amount');
          description = $(this).attr('Selected-Description');


        //console.log(varstartDate, varendDate);
        //  console.log(aEditAssetId);

        $('input[name=DedSalId]').val(aEditDedId);
        $('select[name=eemployeeId]').val(employeeDetailsId);
        $('select[name=eDeductionType]').val(deductionId);
        $('input[name=eAmount]').val(amount);
        $('textarea[name=eDescription]').val(description);

      });

    //End of the code

    $(document).ready(function () {

      $("#submitEditDeductions").click(function (event) {

        event.preventDefault();

        var PostSalaryDeduction = {
          AId: $("#DedSalId").val(),
          EmployeeDetailsId: $("#eemployeeId").val(),
          DeductionId: $("#eDeductionType").val(),
          Amount: $("#eAmount").val(),
          Description: $("#eDescription").val(),
        };


        // console.log(Items);
        console.log(PostSalaryDeduction);

        $.ajax({
          type: "POST",
          url: "/Payroll/editSalaryDeductions",
          data: JSON.stringify(PostSalaryDeduction),
          dataType: "json",
          contentType: 'application/json; charset=utf-8',
          headers: {
            RequestVerificationToken:
              $('input:hidden[name="__RequestVerificationToken"]').val()
          },
          success: function (r) {

            if (r.msg == "Success") {

              demo.showSwal('success-message');

            } else if (r.msg == "Fail") {

              alert(r.msg);

            } else if (r.msg == "No Data") {
              alert(r.msg);

            } else {
              alert(r.msg);
            }
            //alert(r.msg);
            // window.location.reload();

          },
          error: function () {
            alert(r.msg);
          }
        });
      });



    });

    </script>

}




