@model IEnumerable<E4S.Models.HumanResource.LeaveConfiguration>

@{
  ViewData["Title"] = "Leave Configuration";
  Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}

<div class="content">
  <div class="card">

    @*<h4 class="card-title"> Employee Jobs</h4>*@

    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-body ">
            <!-- Start of the Emergency Contact tabs-->
            <div class="card-header">
              <div class="justify-content-end align-items-center ">
                <button class="btn btn-info" data-toggle="modal" data-target="#noticeModal">
                  Create Leave Title
                </button>
              </div>
            </div>
            <!-- notice modal -->
            <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-notice">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">Enter New Leave Configuration</h5>
                  </div>
                  <div class="modal-body">
                    <div class="instruction">
                      <form>
                        @*<div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Employee Name</label>
                                <input id="EmployeeName" name="EmployeeName" type="text" class="form-control" placeholder="Employee Name" required>
                              </div>
                            </div>
                          </div>*@

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Leave Title</label>
                              <input id="LeaveTitle" type="text" class="form-control" placeholder="Title Leave" required>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Maximum Duration</label>
                              <input id="MaxDuration" type="number" class="form-control" placeholder="Number of Days" required>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Description</label>
                              <textarea class="form-control" placeholder="Description" id="Description" name="Description" required rows="3"></textarea>
                            </div>
                          </div>
                        </div>

                        <div class="card-footer ">
                          <button type="button" class="btn btn-fill btn-primary btn-round" id="SubmitNewLeaveConfiguration">Submit</button>
                          <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end notice modal -->
            <!-- notice modal -->
            <div class="modal fade" id="noticeModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-notice">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">Edit Leave Configuration</h5>
                  </div>
                  <div class="modal-body">
                    <div class="instruction">
                      <form>
                        @*<div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Employee Name</label>
                                <input id="EmployeeName" name="EmployeeName" type="text" class="form-control" placeholder="Employee Name" required>
                              </div>
                            </div>
                          </div>*@

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Leave Title</label>
                              <input id="eLeaveTitle" name="eLeaveTitle" type="text" class="form-control" placeholder="Title Leave" required>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Maximum Duration</label>
                              <input id="eMaxDuration" name="eMaxDuration" type="number" class="form-control" placeholder="Number of Days" required>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Description</label>
                              <textarea class="form-control" placeholder="Description" id="eDescription" name="eDescription" required rows="3"></textarea>
                              <input type="hidden" class="form-control" placeholder="deptid" id="eLeaveid" name="eLeaveid">
                            </div>
                          </div>
                        </div>

                        
                        <div class="card-footer ">
                          <button type="button" class="btn btn-fill btn-primary btn-round" id="editLeaveConfiguration">Submit</button>
                          <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end notice modal -->

            <div class="card-body">
              <div class="card-body">
                <div class="table-responsive" style="overflow:auto">
                  <table id="datatable2" class="table table-striped">
                    <thead class="text-primary">
                    @*<th class="text-center">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </th>*@
                    <th class="text-center">
                      #
                    </th>
                    <th>
                      Leave Title
                    </th>
                    <th>
                      Description
                    </th>
                    <th>
                      Actions
                    </th>
                    </thead>
                    <tbody>

                      @{
                        int i = 1;

                        @if (Model.Count() < 1)
                        {
                        <td></td>
                        <td></td>
                        <td>No Data to Display</td>
                        <td></td>
                        <td></td>

                      }

                        @foreach (var item in Model)
                        {

                          <tr>
                            @*<td class="text-center">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox">
                                  <span class="form-check-sign"></span>
                                </label>
                              </div>
                            </td>*@
                            <td class="text-center">
                              @i
                            </td>

                            <td>
                              @item.LeaveTitle
                            </td>
                            <td>
                              @item.Description
                            </td>
                            <td>
                                <span data-toggle="modal" data-target="#noticeModal1"><a href="#" class="btn btn-round btn-warning btn-icon btn-sm" title="Click to Edit" data-toggle="tooltip" data-placement="top" id="Editbtn" LeaveConfigId="@item.Id" Selected-LeaveConfig="@item.LeaveTitle" Selected-MaxDuration="@item.MaxDuration" Selected-Description="@item.Description"><i class="fa fa-edit"></i></a></span>
                                <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove" data-toggle="tooltip" data-placement="top" title="Click to Delete" LeaveId="@item.Id" LeaveTitle="@item.LeaveTitle"><i class="fas fa-times"></i></a>
                            </td>
                          </tr>

                          { i = i + 1; }
                        }
                      }

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- the End of Emergency Contact Tabs-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  @section Scripts {

    <link href="@Url.Content("~/css/ajaxoverlay.css")" rel="stylesheet" />

    <script>
      $(document).ready(function () {

        $('#datatable2').DataTable({
          "pagingType": "full_numbers",
          dom: "Bfrtip",
          "lengthMenu": [
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
          ],


          buttons: [
            'copy',
            'excel',
            'csv',
            'pdf',
            'print',
          ],


          responsive: true,
          language: {
            search: "_INPUT_",
            searchPlaceholder: "Search records",
          }

        });

        var table = $('#datatable2').DataTable();

        // Delete a record
        table.on('click', '.remove', function (e) {
          $tr = $(this).closest('tr');

          leaveId = $(this).attr('LeaveId');
          leaveTitle = $(this).attr('LeaveTitle');



          swal({
            title: 'Are you sure?',
            text: "You are about to delete '" + leaveTitle + "'",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!',
            buttonsStyling: false
          }).then(function () {

            $.ajax({
              type: "POST",
              url: "/Jobs/deleteLeaveConfiguration",
              data: JSON.stringify(leaveId),
              dataType: "json",
              contentType: 'application/json; charset=utf-8',
              headers: {
                RequestVerificationToken:
                  $('input:hidden[name="__RequestVerificationToken"]').val()
              },
              success: function (r) {

                if (r.msg == "Success") {

                  swal({
                    title: 'Deleted!',
                    text: 'Your file has been deleted.',
                    type: 'success',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false
                  });


                } else if (r.msg == "Fail") {

                  alert(r.msg);

                } else if (r.msg == "No Data") {
                  alert(r.msg);

                } else {
                  alert(r.msg);
                }
                //alert(r.msg);
                // window.location.reload();

              },
              error: function () {
                alert(r.msg);
              }
            });


            table.row($tr).remove().draw();

          }).catch(swal.noop);


          e.preventDefault();
        });

        //Like record
        table.on('click', '.like', function () {
          alert('You clicked on Like button');
        });
      });
    </script>

    <script type="text/javascript">

      //  $(document).ready(function () {

      //});

      $(document).ready(function () {

        

        $("#SubmitNewLeaveConfiguration").click(function (event) {

          event.preventDefault();

          var LeaveConfiguration = {
            LeaveTitle: $("#LeaveTitle").val(),
            Description: $("#Description").val(),
            MaxDuration: $("#MaxDuration").val(),
            MaxApplication: $("#MaxApplication").val(),
          };


          // console.log(Items);
          console.log(LeaveConfiguration);

          $.ajax({
            type: "POST",
            url: "/Jobs/LeaveConfiguration",
            data: JSON.stringify(LeaveConfiguration),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            headers: {
              RequestVerificationToken:
                $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function (r) {

              if (r.msg == "Success") {

                demo.showSwal('success-message');

              } else if (r.msg == "Fail") {

                alert(r.msg);

              } else if (r.msg == "No Data") {
                alert(r.msg);

              } else {
                alert(r.msg);
              }
              //alert(r.msg);
              // window.location.reload();

            },
            error: function () {
              alert(r.msg);
            }
          });
        });
      });

      //Code for pulling the Records on the Table
      var aEditLeaveId;

      $(document).delegate('#Editbtn',
        'click',
        function (e) {

          aEditLeaveId = $(this).attr('LeaveConfigId');
          leaveConfig = $(this).attr('Selected-LeaveConfig');
          maxDuration = $(this).attr('Selected-MaxDuration');
          description = $(this).attr('Selected-Description');

          //console.log(description, department);

          $('input[name=eLeaveid]').val(aEditLeaveId);
          $('input[name=eLeaveTitle]').val(leaveConfig);
          $('input[name=eMaxDuration]').val(maxDuration);
          $('textarea[name=eDescription]').val(description);

        });

      //End of the code

      // Edit your post

    

      $(document).ready(function () {



        $("#editLeaveConfiguration").click(function (event) {

          event.preventDefault();

          var PostLeaveConfiguration = {
            AId: $("#eLeaveid").val(),
            LeaveTitle: $("#eLeaveTitle").val(),
            MaxDuration: $("#eMaxDuration").val(),
            Description: $("#eDescription").val(),
          };


          // console.log(Items);
          console.log(PostLeaveConfiguration);

          $.ajax({
            type: "POST",
            url: "/Jobs/editLeaveConfiguration",
            data: JSON.stringify(PostLeaveConfiguration),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            headers: {
              RequestVerificationToken:
                $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function (r) {

              if (r.msg == "Success") {

                demo.showSwal('success-message');

              } else if (r.msg == "Fail") {

                alert(r.msg);

              } else if (r.msg == "No Data") {
                alert(r.msg);

              } else {
                alert(r.msg);
              }
              //alert(r.msg);
              // window.location.reload();

            },
            error: function () {
              alert(r.msg);
            }
          });
        });

         $("#delLeave").click(function (event) {

          event.preventDefault();

          var LeaveId = $(this).attr('selected-id');
          var LeaveTitle = $(this).attr('selected-leaveTitle');
          var LeaveDuration = $(this).attr('selected-leaveDuration');
          var description = $(this).attr('selected-leaveDescription');


          // console.log(Items);
          console.log(LeaveId);

          swal({

            title: 'Are you sure?',
            text: "You won't be able to revert!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!',
            buttonsStyling: false
          }).then(function () {

            $.ajax({
              type: "POST",
              url: "/EmployeeProfile/DelLeaveConfig",
              data: JSON.stringify(LeaveId),
              dataType: "json",
              contentType: 'application/json; charset=utf-8',
              headers: {
                RequestVerificationToken:
                  $('input:hidden[name="__RequestVerificationToken"]').val()
              },
              success: function (r) {

                if (r.msg == "Success") {
                  $("#loading-overlay").hide();
                  swal({
                    title: 'Deleted!',
                    text: 'Your record has been deleted.',
                    type: 'success',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false

                  });

                  window.location.reload();


                } else if (r.msg == "Fail") {
                  $("#loading-overlay").hide();
                  alert(r.msg);

                } else if (r.msg == "No Data") {
                  $("#loading-overlay").hide();
                  alert(r.msg);

                } else {
                  $("#loading-overlay").hide();
                  alert(r.msg);
                }
                //alert(r.msg);
                // window.location.reload();

              },
              error: function () {
                $("#loading-overlay").hide();
                alert(r.msg);
              }
            });


          }).catch(swal.noop);



        });

      });




    </script>

  }
