@model E4S.ViewModel.PostThreads


@{
  ViewData["Title"] = "View Ticket";
}

<style>
  .body-card {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
  }

  .button-padding {
    margin-right: 10px
  }

  .support-title {
    margin-bottom: 40px;
  }
</style>

<div class="content">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header body-card">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 pull-left">
                <h4 class="card-title">Ticket Details</h4>
              </div>

            </div>
          </div>



        </div>
        <hr />
        <div class="card-body body-card">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-8 support-title">
                <h6>Support ID: </h6>
                <p>@Model.Ticket.SupportId</p>
                <h6>Date: </h6>
                <p>@Model.Ticket.DateCreated.ToString("dd, MMM, yyyy")</p>
              </div>
              <div class="col-md-8 support-title">
                <h6>Title </h6>
                <p>@Model.Ticket.Title</p>
              </div>

              <div class="col-md-8 support-title">
                <h6>Description: </h6>
                <p style="text-align:justify;">
                  @Model.Ticket.Description
                </p>
              </div>

              <div class="col-md-8 support-title">
                <h6>Severity Level: </h6>
                <p> @Model.Ticket.Severity </p>
              </div>

              <hr />

              @foreach (var item in Model.TicketTread)
              {
                if (item.ResponseType == "Admin")
                {
                  <div class="col-md-12">
                    <div class="row info-body">
                      <div class="col-md-12">
                        <div class="col-md-6 pull-right">
                          <h6 class="text-right">Admin</h6>
                          <p class="text-right">@item.Thread</p>
                        </div>
                      </div>
                    </div>
                    <br />
                  </div>

                }
                else
                {
                  <div class="col-md-12">
                    <div class="row info-body">
                      <div class="col-md-12">
                        <div class="col-md-6 pull-left">

                          <h6 class="text-left"> @Model.Ticket.Organisation.OrganisationName</h6>
                          <p class="text-left">@item.Thread</p>


                        </div>
                      </div>
                    </div>
                    <br />
                  </div>

                }

              }



              <br />

              <div>

                <form method="post" asp-action="ReplyTicket">
                  <div class="col-md-12">
                    <input asp-for="Id" hidden />

                    <label></label>
                    <textarea class="form-control" asp-for="Thread" rows="2" cols="10" placeholder="Please reply here !!!"></textarea>

                    <button type="submit" class="btn btn-info">Reply</button>

                    <button type="submit" class="btn btn-danger">Close Ticket</button>

                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
</div>




