@model IEnumerable<E4S.Models.ApplicationUser>
@{

  ViewData["Title"] = "User Management";

}
<style>
  .body-pad {
    padding: 2%;
  }
</style>

<div class="content">


  <div class="row">
    <!-- Column -->

    <div class="container-fluid">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card body-pad ">
              <div class="card-header">
                <h4 class="card-title">List of Users</h4>

                @*<div class="justify-content-end align-items-center pull-right">*@
                <a asp-action="AddUser" asp-controller="Users" class="btn btn-info">Create New</a>
                @*</div>*@

              </div>
              <div class="card-body">
                <br />
                <div class="row">
                  <div class="col-12 col-sm-12 col-lg-12">
                    <div class="table-responsive" style="overflow:auto">
                      <table id="datatable2" class="table table-striped">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Role</th>
                            <th class="disabled-sorting text-right">Actions</th>
                          </tr>
                        </thead>
                        @*<tfoot>
                            <tr>
                              <th>Name</th>
                              <th>E-mail</th>
                              <th>Role</th>
                              <th class="disabled-sorting text-right">Actions</th>
                            </tr>
                          </tfoot>*@
                        <tbody>

                          @foreach (var item in Model)
                          {
                            <tr>
                              <td>@item.FirstName @item.LastName</td>
                              <td>@item.Email</td>
                              <td>@item.UserRole</td>
                              <td class="text-right">
                                <a asp-action="EditUser" asp-route-id="@item.Id" class="btn btn-round btn-warning btn-icon btn-sm edit" data-toggle="tooltip" data-placement="top" title="Click to Edit"><i class="far fa-edit"></i></a>
                                <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove" data-toggle="tooltip" data-placement="top" title="Click to Delete" UserId="@item.Id" UserName="@item.FirstName"><i class="fas fa-times"></i></a>
                              </td>
                            </tr>

                          }
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
</div>



@section Scripts {

  <script>
    $(document).ready(function () {

      $('#datatable2').DataTable({
        "pagingType": "full_numbers",
        dom: "Bfrtip",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],


        buttons: [
          'copy',
          'excel',
          'csv',
          'pdf',
          'print',
        ],


        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable2').DataTable();

      // Delete a record
      table.on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');

        userId = $(this).attr('UserId');
        userName = $(this).attr('UserName');


        swal({
          title: 'Are you sure?',
          text: "You are about to delete '" + userName + "'",
          type: 'warning',
          showCancelButton: true,
          confirmButtonClass: 'btn btn-success',
          cancelButtonClass: 'btn btn-danger',
          confirmButtonText: 'Yes, delete it!',
          buttonsStyling: false
        }).then(function () {

          $.ajax({
            type: "POST",
            url: "/Jobs/deleteUser",
            data: JSON.stringify(userId),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            headers: {
              RequestVerificationToken:
                $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function (r) {

              if (r.msg == "Success") {

                swal({
                  title: 'Deleted!',
                  text: 'Your file has been deleted.',
                  type: 'success',
                  confirmButtonClass: "btn btn-success",
                  buttonsStyling: false
                });


              } else if (r.msg == "Fail") {

                alert(r.msg);

              } else if (r.msg == "No Data") {
                alert(r.msg);

              } else {
                alert(r.msg);
              }
              //alert(r.msg);
              // window.location.reload();

            },
            error: function () {
              alert(r.msg);
            }
          });


          table.row($tr).remove().draw();

        }).catch(swal.noop);


        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function () {
        alert('You clicked on Like button');
      });
    });
  </script>

}