@model IEnumerable<E4S.Models.HumanResource.Appraisal>

@{
  ViewData["Title"] = "Appraisal Report";
  Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}



<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-stats card-raised">
          <div class="card-header">
              
              <div class="row">
                  <div class="col-md-12">
                      <div class="col-md-6 pull-left">
                          <h4 class="card-title">Appraisal Report</h4>
                      </div>
                      <div class="btn-group col-md-2 pull-right">
                          <a class="btn btn-light pull-left text-right" onClick="javascript:history.go(-1)" style="color:#fff;">
                              <i class="now-ui-icons arrows-1_minimal-left"></i> <span>Back</span>
                          </a>

                      </div>



                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-body">
          <br />
          <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>

                <th class="disabled-sorting text-right">Actions</th>
              </tr>
            </thead>

            <tbody>
              @foreach (var item in Model)
              {
                <tr>
                  <td>@item.AppraisalTitle</td>
                  <td>@item.StartDate.ToString("MMMM dd, yyyy")</td>
                  <td>@item.EndDate.ToString("MMMM dd, yyyy")</td>
                  @*<td>
                    @item.IsActive
                  </td>*@
                  <td class="text-right">
                    <a asp-action="ViewAppraisalDetails" asp-route-id="@item.Id" asp-controller="Appraisal" class="btn  btn-success " title="Click to View">View Details</a>

                    @*<a asp-action="OngoingAppraisal" asp-route-id="@item.Id" class="btn btn-round btn-warning btn-icon btn-sm " title="Click to View"><i class="far fa-calendar-alt"></i></a>
                    <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove" title="Click to Delete"><i class="fas fa-times"></i></a>*@
                  </td>
                </tr>

              }


              @*<tr>
                <td>Devops Team Appraisal</td>
                <td>04/03/2018</td>
                <td>04/03/2018</td>

                <td class="text-right">
                  <a asp-action="ViewAppraisalDetails" asp-controller="Appraisal" class="btn  btn-success " title="Click to View">View Details</a>

                </td>
              </tr>
              <tr>
                <td>Devops Team Appraisal</td>
                <td>04/03/2018</td>
                <td>04/03/2018</td>

                <td class="text-right">
                  <a asp-action="ViewAppraisalDetails" asp-controller="Appraisal" class="btn  btn-success " title="Click to View">View Details</a>

                </td>
              </tr>*@

            </tbody>
          </table>
        </div>



        @*<div class="card-body ">

            <div class="row body-card picture">
              <div class="icon icon-info col-md-1 iconstyle">
                <i class="now-ui-icons shopping_box"></i>

              </div>

              <div class="col-md-9">
                <h5><a asp-action="Index" asp-controller="ReportAccountBalance">Account Balance</a></h5>
                <p class="col-md-12">
                  Summary view of balances and activity for all account

                </p>

              </div>

            </div>
            <div class="row body-card picture">
              <div class="icon icon-info col-md-1 iconstyle">
                <i class="now-ui-icons files_single-copy-04"></i>
              </div>

              <div class="col-md-9">
                <h5><a asp-action="Index" asp-controller="ReportTrialBalance">Trail Balance</a></h5>
                <p class="col-md-12">Summary of your balance expenses that datermine the profit you made</p>
              </div>

            </div>
            <div class="row body-card picture">
              <div class="icon icon-info col-md-1 iconstyle">
                <i class="now-ui-icons shopping_credit-card"></i>
              </div>

              <div class="col-md-9">
                <h5><a asp-action="Index" asp-controller="ReportAccountTransaction">Account Transactions (General Ledger)</a></h5>
                <p class="col-md-12">
                  Snapshot of what your business owns or
                  is due to receive from other (assets), whats its own to others
                  (liabilities) and what you've invested ar retained in your company (Equity)
                </p>

              </div>

            </div>

          </div>*@

      </div>
    </div>

  </div>

</div>

