@model E4S.ViewModel.OngoingAppraisalViewModel

@{
  ViewData["Title"] = "Ongoing Appraisal";
  Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}

<div class="content">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
          <div class="card-header body-card">
              <div class="row">
                  <div class="col-md-12">
                      <div class="col-md-6 pull-left">
                          <h4 class="card-title">Ongoing Appraisal</h4>
                          <input hidden id="appraisalId" asp-for="Appraisal.Id" />
                      </div>
                      <div class="btn-group col-md-2 pull-right">
                          <a class="btn btn-light pull-left text-right" onClick="javascript:history.go(-1)" style="color:#fff;">
                              <i class="now-ui-icons arrows-1_minimal-left"></i> <span>Back</span>
                          </a>

                      </div>
                  </div>
              </div>
             
             
          </div>

        <div class="card-body body-card">
          <div>
            <form class="form" asp-action="StartAppraisal" method="post">
              <div class="form-inline">
                <label class="labeltext col-sm-3">Appraisal Title</label>
                <input asp-for="Appraisal.AppraisalTitle" type="text" class="form-control col-sm-4" placeholder="End of the year appraisal" required />
              </div>
              <br />

              <div class="form-inline">
                <label class="labeltext col-sm-3" style="text-align:left;">Description</label>
                <textarea asp-for="Appraisal.Description" placeholder="Enter a description" class="form-control col-sm-4"></textarea>

              </div>

              <br />

              <div class="form-inline">
                <label class="labeltext col-sm-3" style="text-align:left;">Start Date</label>
                <input asp-for="Appraisal.StartDate" type="date" class="form-control col-sm-4" />

              </div>
              <br />

              <div class="form-inline">
                <label class="labeltext col-sm-3">End Date</label>
                <input asp-for="Appraisal.EndDate" type="date" class="form-control col-sm-4" />
              </div>
              <hr />

              <div class="row">
                <div class="col-md-4 text-right">
                  <button type="submit" class="btn btn-info">
                    Save Appraisal
                  </button>

                </div>
                <div class="col-md 4">

                </div>
              </div>


            </form>
          </div>




        </div>


      </div>

      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">
            @*Navigation Pills -*@
            @*<small class="description">Horizontal Tabs</small>*@
          </h5>
        </div>
        <div class="card-body ">

          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                Unassigned
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                Assigned
              </a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                  Options
                </a>
              </li>*@
          </ul>

          <!-- The Edit-->
          <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notice">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                  <h5 class="modal-title" id="myModalLabel"> Assign Templates</h5>
                </div>
                <div class="modal-body">
                  <div class="instruction">
                    <form>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <input hidden id="modalEmployeeId" name="modalEmployeeId" />
                            <input hidden id="appraisalId" name="appraisalId" asp-for="Appraisal.Id" />

                            <label>Employee Name</label>
                            <input readonly type="text" class="form-control" placeholder="Employee Name" id="EmployeeName" name="EmployeeName">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Department</label>
                            <input readonly type="text" class="form-control" placeholder="Department" id="Department" name="Department">
                            <input id="onAppId" name="onAppId" hidden />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Templates</label>
                            @*<select class="form-control" placeholder="Template Name" id="Templates" name="Templates"></select>*@
                            <select id="appTemp" name="appTemp" class="form-control" asp-items="@ViewBag.Templates"></select>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="card-footer ">
                        <button type="button" name="submitTemplate" class="btn btn-fill btn-primary btn-round" id="submitTemplate">Assign</button>
                        <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- The End of the modal-->
          <div class="tab-content tab-space">
            <div class="tab-pane active" id="link1">

              <div class="card-body">
                <div class="table-responsive" style="overflow:auto;">

                  @*<table class="table">*@
                  <table id="datatable2" class="table table-striped table-bordered" cellspacing="0" width="100%">

                    <thead class="text-primary">
                      <tr>
                        <th>
                          Name
                        </th>
                        <th>
                          Department
                        </th>
                        <th class="text-center">
                          Action
                        </th>
                      </tr>

                    </thead>
                    <tbody>

                      @foreach (var item in Model.EmployeeAppraisalList)
                      {
                        <tr>

                          <td>
                            @item.EmployeeDetail.FirstName @item.EmployeeDetail.LastName
                          </td>
                          <td>
                            @item.Job.Department.DepartmentName
                          </td>
                          <td class="text-center">
                            <a class="btn btn-round btn-info btn-icon btn-sm" title="Click to View" id="Editbtn" EditOnAppId="@item.AId" select-EmployeeName="@item.EmployeeDetail.FirstName @item.EmployeeDetail.LastName" Selected-EmployeeId="@item.EmployeeDetail.Id" Selected-Department="@item.Job.Department.DepartmentName"><i class="far fa-calendar-alt" data-toggle="modal" data-target="#noticeModal"></i></a>


                          </td>

                        </tr>

                      }


                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            <div class="tab-pane" id="link2">

              <div class="card-body">
                <div class="table-responsive" style="overflow:auto;">

                  @*<table class="table">*@
                  <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">

                    <thead class="text-primary">
                      <tr>
                        <th>
                          Name
                        </th>
                        <th>
                          Department
                        </th>
                        <th>
                          Appraisal Template
                        </th>
                        <th class="text-center">
                          Action
                        </th>
                      </tr>

                    </thead>
                    <tbody>

                      @foreach (var item in Model.AppraisalAssignedTemplates)
                      {
                      <tr>

                        <td>
                          @item.EmployeeDetail.FirstName @item.EmployeeDetail.LastName
                        </td>
                        <td>
                          @try
                          {
                            @Model.Jobs.Where(x => x.EmployeeDetailId == @item.EmployeeDetail.Id).FirstOrDefault().Department.DepartmentName
                          }
                          catch
                          {

                          }
                        </td>
                        <td>
                          @item.AppraisalTemplate.Template
                        </td>
                        <td class="text-center">
                          <a class="btn btn-round btn-info btn-icon btn-sm" title="Click to Edit" id="Editbtn" select-EmployeeName="@item.EmployeeDetail.FirstName @item.EmployeeDetail.LastName" Selected-EmployeeId="@item.EmployeeDetail.Id"><i class="far fa-calendar-alt" data-toggle="modal" data-target="#noticeModal"></i></a>
                          <a asp-action="ViewTemplate" asp-route-id="@item.AppraisalTemplateId" class="btn btn-round btn-warning btn-icon btn-sm" title="Click to View" id="Editbtn" ><i class="far fa-cog" ></i></a>
                        </td>

                      </tr>
                      }


                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {

  <script>
    $(document).ready(function () {

      $('#datatable2').DataTable({
        "pagingType": "full_numbers",
        dom: "Bfrtip",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],


        buttons: [
          'copy',
          'excel',
          'csv',
          'pdf',
          'print',
        ],


        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable2').DataTable();

      // Edit record
      table.on('click', '.edit', function () {
        $tr = $(this).closest('tr');

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });

      // Delete a record
      table.on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function () {
        alert('You clicked on Like button');
      });
    });
  </script>




  <script>
    var delLeaveId;

    $(document).delegate('#Approvebtn',
      'click',
      function (e) {

        delLeaveId = $(this).attr('delLeaveId');
        varemployeeName = $(this).attr('select-employeename');
        leave = $(this).attr('Selected-Leave');
        description = $(this).attr('Selected-Description');
        varstartDate = $(this).attr('Selected-StartDate');
        varendDate = $(this).attr('Selected-EndDate');

        console.log(varstartDate, varendDate);


        $('input[name=Id]').val(delLeaveId);
        $('input[name=modalEmployeeName]').val(varemployeeName);
        $('input[name=Leave]').val(leave);
        $('input[name=Description]').val(description);
        $('input[name=varstartDate]').val(varstartDate);
        $('input[name=varendDate]').val(varendDate);

      });

    $(document).ready(function () {

      $("#submitTemplate").click(function (event) {

        event.preventDefault();
        
        var AppraisalAssignedTemplate = {
          AppraisalId: $("#appraisalId").val(),
          EmployeeDetailId: $("#modalEmployeeId").val(),
          AppraisalTemplateId: $("#appTemp").val(),
        };


        console.log(AppraisalAssignedTemplate);

        $.ajax({
          type: "POST",
          url: "/Appraisal/AssignTemp",
          data: JSON.stringify(AppraisalAssignedTemplate),
          dataType: "json",
          contentType: 'application/json; charset=utf-8',
          headers: {
            RequestVerificationToken:
              $('input:hidden[name="__RequestVerificationToken"]').val()
          },
          success: function (r) {

            if (r.msg == "Success") {

              swal({
                title: "Success!",
                text: "Template Assigned!",
                buttonsStyling: false,
                confirmButtonClass: "btn btn-success",
                type: "success"
              }).then(function () {

                window.location.reload();

              }).catch(swal.noop);

            } else if (r.msg == "Fail") {

              alert(r.msg);

            } else if (r.msg == "No Data") {
              alert(r.msg);

            } else {
              alert(r.msg);
            }
            //alert(r.msg);
            // window.location.reload();

          },
          error: function () {
            alert(r.msg);
          }
        });
      });

      $("#btnDeclineLeave").click(function (event) {

        event.preventDefault();

        var PostApproveLeave = {
          Id: $("#Id").val(),
          Comment: $("#varcomment").val(),
        };


        // console.log(Items);
        console.log(PostApproveLeave);

        $.ajax({
          type: "POST",
          url: "/Leaves/DeclineLeave",
          data: JSON.stringify(PostApproveLeave),
          dataType: "json",
          contentType: 'application/json; charset=utf-8',
          headers: {
            RequestVerificationToken:
              $('input:hidden[name="__RequestVerificationToken"]').val()
          },
          success: function (r) {

            if (r.msg == "Success") {

              demo.showSwal('success-message');

            } else if (r.msg == "Fail") {

              alert(r.msg);

            } else if (r.msg == "No Data") {
              alert(r.msg);

            } else {
              alert(r.msg);
            }
            //alert(r.msg);
            // window.location.reload();

          },
          error: function () {
            alert(r.msg);
          }
        });
      });

    });

    //$(document).delegate('#btn-yes',
    //    'click',
    //    function (e) {
    //        var data = {
    //            accountId: delLeaveId
    //        };
    //        //$.ajax({
    //        //  url: '/controller/action',
    //        //  type: 'POST',
    //        //  data: data,
    //        //  success: function (returnvalue) {
    //        //    //what you want on success
    //        //  },
    //        //  error: function (error) {
    //        //    //what you want on error
    //        //  }
    //        //});
    //    });




    //Code for pulling the Records on the Table
    var aEditOnAppId;

    $(document).delegate('#Editbtn',
      'click',
      function (e) {

        aEditOnAppId = $(this).attr('EditOnAppId');
        employeeName = $(this).attr('select-EmployeeName');
        department = $(this).attr('Selected-Department');
        employeeId = $(this).attr('Selected-EmployeeId');



        $('input[name=onAppId]').val(aEditOnAppId);
        $('input[name=EmployeeName]').val(employeeName);
        $('input[name=modalEmployeeId]').val(employeeId);
        $('input[name=Department]').val(department);

      });

              //End of the code
  </script>


}
